<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="title" content="공지사항_목록 - 토디" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="index, follow" />
        <link rel="canonical" href="http://" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="토디- 부동산 종합 플랫폼 서비스" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://" />
        <meta property="og:title" content="공지사항_목록 - 토디" />
        <!-- <meta property="og:image" content="../../images/common/meta_img.jpg"> -->
        <meta property="og:description" content="" />
        <title>공지사항_목록 - 토디</title>
        <link rel="shortcut icon" href="/front/assets/image/favicon.ico" />

        <!-- Bootstrap Css-->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Sweet Alert css-->
        <link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
        <!-- custom Css -->
        <link href="/front/assets/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="wrap">
            <!-- 전체모션 -->
            <div class="visual-bg">
                <div class="panel"></div>
            </div>
            <!-- 전체모션 끝 -->

            <!-- PC - 상단 -->
            <header class="header"></header>
            <!-- PC - 상단 끝 -->

            <!-- MOBILE - 상단/메뉴/하단영역 -->
            <div class="mobile">
                <!-- MOBILE - 상단영역 -->
                <div class="mobile-header">
                    <dl>
                        <dt>
                            <a href="/index.html"><img src="/front/assets/image/logo.svg" height="20" alt="" title="" /></a>
                        </dt>
                        <dd>
                            <a href="javascript:void(0);" id="mobileSearchOpen"><i class="fa-light fa-magnifying-glass"></i></a>
                            <a href="javascript:void(0);" id="mobileMenuInfo"><i class="fa-light fa-bars"></i></a>

                            <!-- 검색영역 -->
                            <div class="mh-search">
                                <button id="mobileSearchClose"><i class="fa-regular fa-xmark"></i></button>
                                <input type="text" id="search_input_mobile" name="" placeholder="검색하세요" autocomplete="off" />
                                <button type="button" id="search_btn_mobile"><i class="fa-regular fa-magnifying-glass"></i></button>

                                <div id="search_result_box_mobile" class="mhs-box">
                                    <ul id="placesListMobile"></ul>
                                    <!-- <div id="pagination" class="mcsb-pagination"></div> -->
                                </div>
                            </div>
                            <!-- 검색영역 끝 -->
                        </dd>
                    </dl>
                </div>
                <!-- MOBILE - 상단영역 끝 -->

                <!-- MOBILE - 하단영역 -->
                <div class="mobile-footer">
                    <ul>
                        <li onclick="location.href='/front/views/realPrice/realPrice.html';">
                            <p><img src="/front/assets/image/footer_menu01.svg" alt="" title="" /></p>
                            <div>실거래가</div>
                        </li>
                        <li onclick="location.href='/front/views/sell/sell.html';">
                            <p><img src="/front/assets/image/footer_menu02.svg" alt="" title="" /></p>
                            <div>매물정보</div>
                        </li>
                        <li onclick="location.href='/front/views/find/find_list.html';">
                            <p><img src="/front/assets/image/footer_menu03.svg" alt="" title="" /></p>
                            <div>삽니다</div>
                        </li>
                        <li onclick="location.href='/front/views/put/put_list.html';">
                            <p><img src="/front/assets/image/footer_menu04.svg" alt="" title="" /></p>
                            <div>팝니다</div>
                        </li>
                        <li onclick="location.href='/front/views/finance/finance.html';">
                            <p><img src="/front/assets/image/footer_menu05.svg" alt="" title="" /></p>
                            <div>금융지원</div>
                        </li>
                    </ul>
                </div>
                <!-- MOBILE - 하단영역 끝 -->

                <!-- MOBILE - 메뉴 및 정보 -->
                <div class="mobile-menu-info">
                    <div class="mmi-info">
                        <dl>
                            <dt><span class="user-name-type">반갑습니다.</span></dt>
                            <dd>
                                <a href="javascript:void(0);"><i class="fa-light fa-xmark"></i></a>
                            </dd>
                        </dl>
                    </div>
                    <div class="mmi-tab-btn">
                        <a href="/front/views/member/join_step01.html" class="active">회원가입</a>
                        <a href="/front/views/00-include/login.html" class="modal-open-btn login-before">로그인</a>
                    </div>
                    <div class="mmi-menu">
                        <a href="/front/views/realPrice/realPrice.html">
                            <span><img src="/front/assets/image/footer_menu01.svg" alt="" title="" /> 실거래가</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                        <a href="/front/views/sell/sell.html">
                            <span><img src="/front/assets/image/footer_menu02.svg" alt="" title="" /> 매물정보</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                        <a href="/front/views/find/find_list.html">
                            <span><img src="/front/assets/image/footer_menu03.svg" alt="" title="" /> 삽니다</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                        <a href="/front/views/put/put_list.html">
                            <span><img src="/front/assets/image/footer_menu04.svg" alt="" title="" /> 팝니다</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                        <a href="/front/views/finance/finance.html">
                            <span><img src="/front/assets/image/footer_menu05.svg" alt="" title="" /> 금융지원</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                    </div>
                    <div class="mmi-support">
                        <a href="/front/views/support/notice_list.html">고객센터</a>
                    </div>
                    <div class="mmi-site">
                        <select name="" id="selectSiteMobile" class="form-select select-box middle">
                            <option value="">사이트</option>
                            <option value="">사이트</option>
                            <option value="">사이트</option>
                        </select>
                    </div>
                    <div class="mmi-footer">
                        <a href="javascript:void(0);"><i class="fa-light fa-angle-right"></i> 이용약관</a>
                        <a href="javascript:void(0);"><i class="fa-light fa-angle-right"></i> 개인정보취급방침</a>
                    </div>
                </div>
                <div class="mobile-menu-info-bg">&nbsp;</div>
                <!-- MOBILE - 메뉴 및 정보 끝 -->
            </div>
            <!-- MOBILE - 상단/메뉴/하단영역 끝 -->

            <!-- 본문내용 -->
            <div class="contents">
                <!-- 타이틀 영역 -->
                <div class="title-area">
                    <h2>공지사항</h2>
                </div>
                <!-- 타이틀 영역 끝 -->

                <!-- 탭버튼 -->
                <dl class="tab-btn">
                    <dt>
                        <a href="notice_list.html" class="active">공지사항</a>
                        <a href="faq_list.html">FAQ</a>
                        <a href="reference_list.html">부동산 자료실</a>
                        <a href="news_list.html">부동산 NEWS</a>
                    </dt>
                    <dd>
                        <a href="partnership_proposal_step01.html"><i class="fa-light fa-comment-question"></i> &nbsp; 제휴 및 제안</a>
                    </dd>
                </dl>
                <!-- 탭버튼 끝 -->

                <!-- 구분 및 옵션 -->
                <div name="searchForm" method="post" action="" class="form-inline">
                    <fieldset>
                        <legend>게시물 검색</legend>
                        <dl class="board-sort-search">
                            <dt><i class="fa-light fa-memo"></i>&nbsp; 총 <strong id="total_count">0</strong> 개 / 현재페이지 [<span id="page_count">1/1</span>]</dt>
                            <dd>
                                <div>
                                    <select id="search_type" title="선택" class="select-box w150">
                                        <option value="all">전체</option>
                                        <option value="no">번호</option>
                                        <option value="title">제목</option>
                                    </select>
                                    <input type="text" id="search_input" name="" title="검색어" value="" placeholder="검색어를 입력하세요." class="input-box w350" />
                                    <button type="button" id="search_btn" class="btn-default bg-dark"><i class="fa-light fa-magnifying-glass"></i> 검색</button>
                                </div>
                            </dd>
                        </dl>
                    </fieldset>
                </div>
                <!-- 구분 및 옵션 끝 -->

                <!-- 리스트 -->
                <div class="board-list">
                    <ol class="bl-notice">
                        <li>번호</li>
                        <li>제목</li>
                        <li>작성자</li>
                        <li>작성일</li>
                        <li>조회수</li>
                    </ol>
                    <!-- <ul class="bl-notice">
                        <li>1.</li>
                        <li><a href="notice_view.html">부동산 플랫폼 토디가 정식으로 오픈하였습니다.</a> <img src="/front/assets/image/icn_new02.png" height="20" alt="" title="" /></li>
                        <li><font>작성자 : </font> 토디</li>
                        <li><font>작성일 : </font> 2024-05-20</li>
                        <li><font>조회수 : </font> 257</li>
                    </ul>
                    <ul class="bl-notice">
                        <li>1.</li>
                        <li><a href="notice_view.html">부동산 플랫폼 토디가 정식으로 오픈하였습니다.</a> <img src="/front/assets/image/icn_new02.png" height="20" alt="" title="" /></li>
                        <li><font>작성자 : </font> 토디</li>
                        <li><font>작성일 : </font> 2024-05-20</li>
                        <li><font>조회수 : </font> 257</li>
                    </ul>
                    <ul class="bl-notice">
                        <li>1.</li>
                        <li><a href="notice_view.html">부동산 플랫폼 토디가 정식으로 오픈하였습니다.</a> <img src="/front/assets/image/icn_new02.png" height="20" alt="" title="" /></li>
                        <li><font>작성자 : </font> 토디</li>
                        <li><font>작성일 : </font> 2024-05-20</li>
                        <li><font>조회수 : </font> 257</li>
                    </ul>
                    <ul class="bl-notice">
                        <li>1.</li>
                        <li><a href="notice_view.html">부동산 플랫폼 토디가 정식으로 오픈하였습니다.</a> <img src="/front/assets/image/icn_new02.png" height="20" alt="" title="" /></li>
                        <li><font>작성자 : </font> 토디</li>
                        <li><font>작성일 : </font> 2024-05-20</li>
                        <li><font>조회수 : </font> 257</li>
                    </ul>
                    <ul class="bl-notice">
                        <li>1.</li>
                        <li><a href="notice_view.html">부동산 플랫폼 토디가 정식으로 오픈하였습니다.</a> <img src="/front/assets/image/icn_new02.png" height="20" alt="" title="" /></li>
                        <li><font>작성자 : </font> 토디</li>
                        <li><font>작성일 : </font> 2024-05-20</li>
                        <li><font>조회수 : </font> 257</li>
                    </ul>
                    <ul class="bl-notice">
                        <li>1.</li>
                        <li><a href="notice_view.html">부동산 플랫폼 토디가 정식으로 오픈하였습니다.</a> <img src="/front/assets/image/icn_new02.png" height="20" alt="" title="" /></li>
                        <li><font>작성자 : </font> 토디</li>
                        <li><font>작성일 : </font> 2024-05-20</li>
                        <li><font>조회수 : </font> 257</li>
                    </ul>
                    <ul class="bl-notice">
                        <li>1.</li>
                        <li><a href="notice_view.html">부동산 플랫폼 토디가 정식으로 오픈하였습니다.</a> <img src="/front/assets/image/icn_new02.png" height="20" alt="" title="" /></li>
                        <li><font>작성자 : </font> 토디</li>
                        <li><font>작성일 : </font> 2024-05-20</li>
                        <li><font>조회수 : </font> 257</li>
                    </ul>
                    <ul class="bl-notice">
                        <li>1.</li>
                        <li><a href="notice_view.html">부동산 플랫폼 토디가 정식으로 오픈하였습니다.</a> <img src="/front/assets/image/icn_new02.png" height="20" alt="" title="" /></li>
                        <li><font>작성자 : </font> 토디</li>
                        <li><font>작성일 : </font> 2024-05-20</li>
                        <li><font>조회수 : </font> 257</li>
                    </ul>
                    <ul class="bl-notice">
                        <li>1.</li>
                        <li><a href="notice_view.html">부동산 플랫폼 토디가 정식으로 오픈하였습니다.</a> <img src="/front/assets/image/icn_new02.png" height="20" alt="" title="" /></li>
                        <li><font>작성자 : </font> 토디</li>
                        <li><font>작성일 : </font> 2024-05-20</li>
                        <li><font>조회수 : </font> 257</li>
                    </ul>
                    <ul class="bl-notice">
                        <li>1.</li>
                        <li><a href="notice_view.html">부동산 플랫폼 토디가 정식으로 오픈하였습니다.</a> <img src="/front/assets/image/icn_new02.png" height="20" alt="" title="" /></li>
                        <li><font>작성자 : </font> 토디</li>
                        <li><font>작성일 : </font> 2024-05-20</li>
                        <li><font>조회수 : </font> 257</li>
                    </ul> -->

                    <!-- <div class="no-data">
						<p><i class="fa-light fa-circle-exclamation"></i></p>
						<h2>데이터가 없습니다.</h2>
					</div> -->
                </div>
                <!-- 리스트 끝 -->

                <!-- 페이지넘버링 -->
                <div class="paging-list">
                    <a href="#"><i class="fas fa-caret-left"></i></a>
                    <a href="#" class="active">1</a>
                    <!-- <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a> -->
                    <a href="#"><i class="fas fa-caret-right"></i></a>
                </div>
                <!-- 페이지넘버링 끝 -->
            </div>
            <!-- 본문내용 끝 -->

            <!-- 하단영역 -->
            <footer class="footer"></footer>
            <!-- 하단영역 끝 -->
        </div>

        <!-- JAVASCRIPT -->
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/front/assets/js/jquery-3.3.1.js"></script>
        <script src="/front/assets/js/jquery-ui.js"></script>
        <script src="/front/assets/js/easing.js"></script>

        <script src="/front/assets/js/gsap.min.js"></script>
        <script src="/front/assets/js/ScrollTrigger.min.js"></script>
        <script src="/front/assets/js/ScrollToPlugin.min.js"></script>
        <script src="/front/assets/js/SmoothScroll.min.js"></script>

        <script src="/front/assets/js/countup.js"></script>
        <script src="/front/assets/js/waypoints.js"></script>
        <script src="/front/assets/js/aos.js"></script>

        <script src="/front/assets/js/iziModal.js"></script>
        <script src="/front/assets/js/swiper.js"></script>
        <script src="/front/assets/js/multiSelect.js"></script>
        <script src="/front/assets/js/nouislider.js"></script>
        <script src="/front/assets/js/lottie.min.js"></script>
        <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>

        <!-- custom -->
        <script src="/front/assets/js/common.js"></script>
        <script src="/front/js/00-include/layout.js"></script>
        <script src="/front/js/00-include/functions.js"></script>
        <script src="/front/js/00-include/common.js"></script>
        <script src="/front/js/00-include/layer_popup.js"></script>
        <script src="/front/js/support/notice_list.js"></script>
    </body>
</html>
