<script>
    $(async function () {
        const $modalWrap = $(".modal-pop-wrapper");
        $modalWrap.find(".modal-dialog").addClass("modal-dialog-scrollable");
        const modalUrl = $modalWrap.attr("data-url");
        // const title = getUrlParameter("title", modalUrl);
        // 모달 타이틀
        $modalWrap.find(".modal-title").text("메모관리장");

        const user = userInfo();
        if (!user) {
            alert("로그인 후 시도해주세요.");
            ajaxUnLoad();
            return;
        }

        memoList(1);

        // $modalWrap.on("click", "#memo_add_btn", function () {
        //     const form = $modalWrap.find("#memo_form");
        //     const name = form.find("#memo_name").val();
        //     const phone = form.find("#memo_phone").val();
        //     const no = form.find("#memo_no").val();
        //     const content = form.find("#memo_content").val();

        //     const memoBox = $modalWrap.find("#memo_box");
        //     const memoHtml = `
        //         <div class="card bg-light bg-opacity-25 mb-auto">
        //             <div class="card-body pb-1">
        //                 <div class="d-flex mb-2 align-items-center justify-content-between text-primary">
        //                     <p>${name}</p>
        //                     <span> | </span>
        //                     <p>${phone}</p>
        //                     <span> | </span>
        //                     <p type="button">매물번호 : <span>${no}</span></p>
        //                 </div>

        //                 <p class="color-blue1 mb-1">▶ 매물주소 : <span>경기도 수원시 호매실로 90번길 24</span></p>
        //                 <div class="card-text color-black">
        //                     ${content}
        //                 </div>
        //             </div>

        //             <div class="card-footer pt-1 pb-2 bg-transparent">
        //                 <div class="d-flex flex-column gap-2">
        //                     <div class="comment-box w-100">
        //                     </div>

        //                     <div class="d-flex gap-2">
        //                         <input type="text" class="comment-input form-control form-control-sm w-100" />
        //                         <button class="btn rounded-pill btn-sm text-nowrap bg-white color-indigo2 comment-btn">댓글등록</button>
        //                     </div>

        //                     <div class="d-flex align-items-center justify-content-between">
        //                         <div class="d-flex align-items-center gap-2">
        //                             <div class="form-check form-check-primary">
        //                                 <input class="form-check-input" type="checkbox" id="formCheck1" />
        //                                 <label class="form-check-label" for="formCheck1"> 상단고정 </label>
        //                             </div>
        //                             <button class="btn btn-sm btn-light modify-btn">편집</button>
        //                             <button class="memo-delete-btn btn btn-sm btn-light">삭제</button>
        //                         </div>
        //                         <p class="text-muted">등록일: <span>2024-01-01</span></p>
        //                     </div>
        //                 </div>
        //             </div>
        //         </div>`;

        //     memoBox.append(memoHtml);

        //     $(".modal-body").scrollTop($(".modal-body")[0].scrollHeight);
        // });

        // $modalWrap.on("click", ".comment-btn", function () {
        //     const closestCard = $(this).closest(".card");
        //     const commentInput = closestCard.find(".comment-input");

        //     const commentDiv = `
        //         <div class="d-flex justify-content-between w-100">
        //             <p>${commentInput.val()}</p>
        //             <p class="text-muted">등록일: <span>2024-01-01</span></p>
        //         </div>`;
        //     closestCard.find(".comment-box").append(commentDiv);
        //     commentInput.val("");
        // });

        $modalWrap.on("click", ".memo-delete-btn", function () {
            // const closestCard = $(this).closest(".card");
            // closestCard.remove();
        });
    });
</script>

<div class="modal-header position-relative d-flex flex-column align-items-center">
    <div class="modal-header position-absolute d-flex justify-content-end w-100">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
    </div>

    <h1 class="modal-title m-auto font28 color-black" id="myModalLabel"></h1>
    <p class="text-muted mb-2">토디 매물 이력관리</p>
    <div class="d-flex flex-nowrap gap-2 mb-2 w-100">
        <select id="memo_type" name="" title="선택" class="select-box middle w-50">
            <!-- <option value="" hidden>선택</option> -->
            <option value="all">전체</option>
            <option value="name">이름</option>
            <option value="phone">연락처</option>
            <option value="estate_no">매물번호</option>
        </select>

        <input type="text" id="memo_keyword" name="" title="검색어" value="" placeholder="검색어를 입력하세요." class="input-box middle w-100" />

        <button id="memo_search_btn" class="btn-default-m bg-dark text-nowrap"><i class="fa-light fa-magnifying-glass"></i> 검색</button>
    </div>

    <p class="color-dark">※ 메모이력 검색 시 "전체 | 이름 | 연락처 | 매물번호" 중 선택</p>
</div>
<div class="modal-body d-flex flex-column align-items-center pt-0">
    <div>
        <div class="card card-body bg-red2 bg-opacity-25 mb-2 shadow-none">
            <div id="memo_form" class="row g-2">
                <div class="col-4">
                    <div class="form-floating">
                        <input type="text" id="memo_name" class="form-control" placeholder="이름" minlength="1" maxlength="50" />
                        <label for="memo_name">이름</label>
                    </div>
                </div>

                <div class="col-5">
                    <div class="form-floating">
                        <input type="tel" id="memo_phone" class="form-control" placeholder="연락처" oninput="allowOnlyNumbers(this, 11)" />
                        <label for="memo_phone">연락처</label>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-floating">
                        <input type="tel" id="memo_estateNo" class="form-control" placeholder="매물번호" oninput="allowOnlyNumbers(this, 7)" minlength="1" maxlength="9999999" />
                        <label for="memo_estateNo">매물번호</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <!-- <input type="text" class="form-control" /> -->
                        <textarea type="text" id="memo_content" class="form-control" placeholder="메모" minlength="0" maxlength="250"></textarea>
                        <label for="memo_content">메모</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-2">
            <button type="button" id="memo_add_btn" class="btn-line-red-m w-100">메모 등록하기</button>
            <div id="memo_modify_btn_group" style="display: none">
                <div class="d-flex gap-1">
                    <button type="button" id="memo_modify_cancel_btn" class="btn-line-gray-m w-50">수정 취소하기</button>
                    <button type="button" id="memo_modify_btn" class="btn-line-red-m w-50">메모 수정하기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 text-end mt-3">
        <div class="form-check form-check-inline form-radio-secondary">
            <input class="form-check-input" type="radio" name="radio_memo" id="radio_my_memo" value="all" checked />
            <label class="form-check-label" for="radio_my_memo"> 전체 매물 메모보기 </label>
        </div>

        <div class="form-check form-check-inline form-radio-secondary">
            <input class="form-check-input" type="radio" name="radio_memo" id="radio_all_memo" value="my" />
            <label class="form-check-label" for="radio_all_memo"> 내 매물 메모보기 </label>
        </div>
    </div>

    <div id="memo_box_top" class="row g-3 w-100 mb-3"></div>
    <div id="memo_box" class="row g-3 w-100">
        <!-- <div class="card bg-primary bg-opacity-10 mb-auto py-0">
            <div class="card-body pb-1">
                <div class="d-flex mb-2 align-items-center justify-content-between text-primary">
                    <p>홍길동</p>
                    <span> | </span>
                    <p>010-1234-5678</p>
                    <span> | </span>
                    <p type="button">매물번호 : <span>123</span></p>
                </div>

                <p class="color-blue1 mb-1">▶ 매물주소 : <span>경기도 수원시 호매실로 90번길 24</span></p>
                <div class="card-text color-black">
                    <p>서울거주, 투자용 원함, 최근에 건축을 하고 전세를 놓아 약간의 여윳돈이 생겨 투자목적</p>
                </div>
            </div>

            <div class="card-footer pt-1 pb-2 bg-transparent">
                <div class="d-flex flex-column gap-2">
                    <div class="comment-box w-100">
                        <div class="d-flex justify-content-between w-100">
                            <p>댓글1</p>
                            <p class="text-muted">등록일: <span>2024-01-01</span></p>
                        </div>
                        <div class="d-flex justify-content-between w-100">
                            <p>댓글1</p>
                            <p class="text-muted">등록일: <span>2024-01-01</span></p>
                        </div>
                    </div>

                    <div class="d-flex gap-2">
                        <input type="text" class="comment-input form-control form-control-sm w-100" />
                        <button class="btn rounded-pill btn-sm text-nowrap bg-white color-indigo2 comment-btn">댓글등록</button>
                    </div>

                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <div class="form-check form-check-primary">
                                <input class="form-check-input" type="checkbox" id="formCheck1" checked />
                                <label class="form-check-label" for="formCheck1"> 상단고정 </label>
                            </div>
                            <button class="btn btn-sm btn-light modify-btn">편집</button>
                            <button class="memo-delete-btn btn btn-sm btn-light">삭제</button>
                        </div>
                        <p class="text-muted">등록일: <span>2024-01-01</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-light bg-opacity-25 mb-auto">
            <div class="card-body pb-1">
                <div class="d-flex mb-2 align-items-center justify-content-between text-primary">
                    <p>홍길동</p>
                    <span> | </span>
                    <p>010-1234-5678</p>
                    <span> | </span>
                    <p type="button">매물번호 : <span>123</span></p>
                </div>

                <p class="color-blue1 mb-1">▶ 매물주소 : <span>경기도 수원시 호매실로 90번길 24</span></p>
                <p class="card-text color-black">서울거주, 투자용 원함, 최근에 건축을 하고 전세를 놓아 약간의 여윳돈이 생겨 투자목적</p>
            </div>

            <div class="card-footer pt-1 pb-2 bg-transparent">
                <div class="d-flex flex-column gap-2">
                    <div class="comment-box w-100"></div>

                    <div class="d-flex gap-2">
                        <input type="text" class="comment-input form-control form-control-sm w-100" />
                        <button class="btn rounded-pill btn-sm text-nowrap bg-white color-indigo2 comment-btn">댓글등록</button>
                    </div>

                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <div class="form-check form-check-primary">
                                <input class="form-check-input" type="checkbox" id="formCheck2" />
                                <label class="form-check-label" for="formCheck2"> 상단고정 </label>
                            </div>
                            <button class="btn btn-sm btn-light modify-btn">편집</button>
                            <button class="memo-delete-btn btn btn-sm btn-light">삭제</button>
                        </div>
                        <p class="text-muted">등록일: <span>2024-01-01</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-light bg-opacity-25 mb-auto">
            <div class="card-body pb-1">
                <div class="d-flex mb-2 align-items-center justify-content-between text-primary">
                    <p>홍길동</p>
                    <span> | </span>
                    <p>010-1234-5678</p>
                    <span> | </span>
                    <p type="button">매물번호 : <span>123</span></p>
                </div>

                <p class="color-blue1 mb-1">▶ 매물주소 : <span>경기도 수원시 호매실로 90번길 24</span></p>
                <p class="card-text color-black">서울거주, 투자용 원함, 최근에 건축을 하고 전세를 놓아 약간의 여윳돈이 생겨 투자목적</p>
            </div>

            <div class="card-footer pt-1 pb-2 bg-transparent">
                <div class="d-flex flex-column gap-2">
                    <div class="comment-box w-100"></div>

                    <div class="d-flex gap-2">
                        <input type="text" class="comment-input form-control form-control-sm w-100" />
                        <button class="btn rounded-pill btn-sm text-nowrap bg-white color-indigo2 comment-btn">댓글등록</button>
                    </div>

                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <div class="form-check form-check-primary">
                                <input class="form-check-input" type="checkbox" id="formCheck3" />
                                <label class="form-check-label" for="formCheck3"> 상단고정 </label>
                            </div>
                            <button class="btn btn-sm btn-light modify-btn">편집</button>
                            <button class="memo-delete-btn btn btn-sm btn-light">삭제</button>
                        </div>
                        <p class="text-muted">등록일: <span>2024-01-01</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-light bg-opacity-25 mb-auto">
            <div class="card-body pb-1">
                <div class="d-flex mb-2 align-items-center justify-content-between text-primary">
                    <p>홍길동</p>
                    <span> | </span>
                    <p>010-1234-5678</p>
                    <span> | </span>
                    <p type="button">매물번호 : <span>123</span></p>
                </div>

                <p class="color-blue1 mb-1">▶ 매물주소 : <span>경기도 수원시 호매실로 90번길 24</span></p>
                <p class="card-text color-black">서울거주, 투자용 원함, 최근에 건축을 하고 전세를 놓아 약간의 여윳돈이 생겨 투자목적</p>
            </div>

            <div class="card-footer pt-1 pb-2 bg-transparent">
                <div class="d-flex flex-column gap-2">
                    <div class="comment-box w-100"></div>

                    <div class="d-flex gap-2">
                        <input type="text" class="comment-input form-control form-control-sm w-100" />
                        <button class="btn rounded-pill btn-sm text-nowrap bg-white color-indigo2 comment-btn">댓글등록</button>
                    </div>

                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <div class="form-check form-check-primary">
                                <input class="form-check-input" type="checkbox" id="formCheck4" />
                                <label class="form-check-label" for="formCheck4"> 상단고정 </label>
                            </div>
                            <button class="btn btn-sm btn-light modify-btn">편집</button>
                            <button class="memo-delete-btn btn btn-sm btn-light">삭제</button>
                        </div>
                        <p class="text-muted">등록일: <span>2024-01-01</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-light bg-opacity-25 mb-auto">
            <div class="card-body pb-1">
                <div class="d-flex mb-2 align-items-center justify-content-between text-primary">
                    <p>홍길동</p>
                    <span> | </span>
                    <p>010-1234-5678</p>
                    <span> | </span>
                    <p type="button">매물번호 : <span>123</span></p>
                </div>

                <p class="color-blue1 mb-1">▶ 매물주소 : <span>경기도 수원시 호매실로 90번길 24</span></p>
                <p class="card-text color-black">서울거주, 투자용 원함, 최근에 건축을 하고 전세를 놓아 약간의 여윳돈이 생겨 투자목적</p>
            </div>

            <div class="card-footer pt-1 pb-2 bg-transparent">
                <div class="d-flex flex-column gap-2">
                    <div class="comment-box w-100"></div>

                    <div class="d-flex gap-2">
                        <input type="text" class="comment-input form-control form-control-sm w-100" />
                        <button class="btn rounded-pill btn-sm text-nowrap bg-white color-indigo2 comment-btn">댓글등록</button>
                    </div>

                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <div class="form-check form-check-primary">
                                <input class="form-check-input" type="checkbox" id="formCheck5" />
                                <label class="form-check-label" for="formCheck5"> 상단고정 </label>
                            </div>
                            <button class="btn btn-sm btn-light modify-btn">편집</button>
                            <button class="memo-delete-btn btn btn-sm btn-light">삭제</button>
                        </div>
                        <p class="text-muted">등록일: <span>2024-01-01</span></p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="modal-footer d-flex gap-2 justify-content-center pt-0">
    <div class="memo-paging-list paging-list py-0">
        <!-- <a href="#"><i class="fas fa-caret-left"></i></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#"><i class="fas fa-caret-right"></i></a> -->
    </div>
    <!-- <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">닫기</button> -->
</div>
