<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="title" content="토디-내정보_금융지원" />
        <meta name="description" content="원스톱 부동산 종합 플랫폼 서비스, 간단한 입력만으로 부동산 정보와 분석, 금융을 한 눈에 빠르고 편한 원스톱 토탈 서비스 지원" />
        <meta name="keywords" content="토디,토디부동산,토디플랫폼,tody,tody부동산,tody플랫폼,부동산정보,부동산, 부동산앱, 부동산어플, 상가,건물, 빌딩, 공장, 창고, 토지, 매물,아파트, 주상복합, 오피스텔, 단독, 다가구, 다세대, 빌라,전세, 월세, 매매, 전월세, 임대, 실거래가, 부동산중개, 공인중개사" />
        <meta name="robots" content="index, follow" />
        <link rel="canonical" href="http://" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="토디- 부동산 종합 플랫폼 서비스" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://" />
        <meta property="og:title" content="토디-내정보_금융지원" />
        <!-- <meta property="og:image" content="../../images/common/meta_img.jpg"> -->
        <meta property="og:description" content="원스톱 부동산 종합 플랫폼 서비스, 간단한 입력만으로 부동산 정보와 분석, 금융을 한 눈에 빠르고 편한 원스톱 토탈 서비스 지원" />
        <title>토디-내정보_금융지원</title>
        <link rel="shortcut icon" href="/front/assets/image/favicon.ico" />

        <!-- Datatables Css-->
        <link href="/assets/libs/datatables/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
        <link href="/assets/libs/datatables/css/buttons.bootstrap5.min.css" rel="stylesheet" />
        <link href="/assets/libs/datatables/css/colReorder.bootstrap5.min.css" rel="stylesheet" />
        <link href="/assets/libs/datatables/css/responsive.bootstrap5.min.css" rel="stylesheet" />
        <!-- Bootstrap Css-->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <!-- Custom Css-->
        <link href="/front/assets/css/style.css" rel="stylesheet" />
        <!-- menu Css 
        <link href="/front/assets/css/mystyle.css" rel="stylesheet" type="text/css" /> -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/front/assets/js/jquery-3.3.1.js"></script>
        <script src="/front/assets/js/jquery-ui.js"></script>
        <script src="/front/assets/js/easing.js"></script>

        <script src="/front/assets/js/gsap.min.js"></script>
        <script src="/front/assets/js/ScrollTrigger.min.js"></script>
        <script src="/front/assets/js/ScrollToPlugin.min.js"></script>
        <script src="/front/assets/js/SmoothScroll.min.js"></script>

        <script src="/front/assets/js/countup.js"></script>
        <script src="/front/assets/js/waypoints.js"></script>
        <script src="/front/assets/js/aos.js"></script>

        <script src="/front/assets/js/iziModal.js"></script>
        <script src="/front/assets/js/swiper.js"></script>
        <script src="/front/assets/js/multiSelect.js"></script>
        <script src="/front/assets/js/nouislider.js"></script>
        <script src="/front/assets/js/lottie.min.js"></script>

        <script src="/front/assets/js/common.js"></script>
        <!-- modal Css -->
        <link href="/assets/css/modal.css" rel="stylesheet" type="text/css" />
        <!-- menu Css -->
        <link href="/front/assets/css/mystyle.css" rel="stylesheet" type="text/css" />
        <!-- jQuery UI 기본 테마 CSS -->
        <link href="/assets/css/jquery-ui.css" rel="stylesheet" > <!-- 다운로드한 파일 경로 -->
        <!-- purchas Css -->
        <link href="/todypurchas/css/purchasstyle.css" rel="stylesheet" type="text/css" />
        <!-- loan Css -->
        <link href="/todyloan/css/loanstyle.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="wrap">
            <!-- 전체모션 -->
            <div class="visual-bg">
                <div class="panel"></div>
            </div>
            <!-- 전체모션 끝 -->

            <!-- PC - 상단 -->
            <header class="header"></header>
            <!-- PC - 상단 끝 -->

            <!-- MOBILE - 상단/메뉴/하단영역 -->
            <div class="mobile"> </div>
            <script>
                fetch('../00-include/mobile.html')
                .then(response => response.text())
                .then(html => {
                    const container = document.querySelector('.mobile');
                    container.innerHTML = html;

                    const bg = container.querySelector('.mobile-menu-info-bg');
                    if (bg) {
                    bg.style.display = 'none'; // display를 명시적으로 다시 숨김
                    // 혹은 bg.classList.add('hidden-class'); 등 원하는 제어 추가 가능
                    }
                    // ★ mobile.html 내용이 DOM에 추가된 후, layout.js의 함수 호출
                    /*
                    if (typeof loadMobile === 'function') {
                        loadMobile();
                    } else {
                        console.warn("loadMobile 함수를 찾을 수 없습니다. layout.js 로드 순서 확인 필요.");
                    }
                    */
                })
                .catch(console.error);
            </script>
            <!-- MOBILE - 상단/메뉴/하단영역 끝 -->

            <!-- 본문내용 -->
            <div class="contents sale-contents">
                <!-- 서브메뉴 -->
                <div class="sub-menu">
                    <div>
                        <a href="mypage_fin_user.html">내 정보</a>
                        <a href="mypage_fin_support.html" class="active">금융지원 관리</a>
                    </div>
                </div>
                <!-- 서브메뉴 끝 -->

                <!-- 타이틀 영역 -->
                <div class="title-area">
                    <h2>금융지원 관리</h2>
                </div>
                <!-- 타이틀 영역 끝 -->

                <!-- 탭버튼 -->
                <dl class="tab-btn pb-0">
                    <dt></dt>
                    <dd>
                        <a href="/front/views/finance/finance.html"><i class="fa-light fa-comment-question"></i> &nbsp; 금융지원 신청</a>
                    </dd>
                </dl>
                <!-- 탭버튼 끝 -->

                <!-- 리스트 -->
                <div class="table-list">
                    <table id="ajax-datatables" class="table nowrap align-middle" style="width: 100%">
                        <thead>
                            <tr></tr>
                        </thead>
                    </table>
                </div>
                <!-- 리스트 끝 -->
            </div>
            <!-- 본문내용 끝 -->

            <!-- 하단영역 -->
            <footer class="footer"></footer>
            <!-- 하단영역 끝 -->
        </div>

        <!--datatable js-->
        <script src="/assets/libs/datatables/js/jszip.min.js"></script>
        <script src="/assets/libs/datatables/js/pdfmake.min.js"></script>
        <script src="/assets/libs/datatables/js/vfs_fonts.js"></script>
        <script src="/assets/libs/datatables/js/dataTables.min.js"></script>
        <script src="/assets/libs/datatables/js/dataTables.bootstrap5.min.js"></script>
        <script src="/assets/libs/datatables/js/dataTables.buttons.min.js"></script>
        <script src="/assets/libs/datatables/js/buttons.bootstrap5.min.js"></script>
        <script src="/assets/libs/datatables/js/buttons.colVis.min.js"></script>
        <script src="/assets/libs/datatables/js/buttons.html5.min.js"></script>
        <script src="/assets/libs/datatables/js/buttons.print.min.js"></script>
        <script src="/assets/libs/datatables/js/dataTables.colReorder.min.js"></script>
        <script src="/assets/libs/datatables/js/dataTables.responsive.min.js"></script>
        <script src="/assets/libs/datatables/js/responsive.bootstrap5.js"></script>
        <!-- custom -->
        <script src="../../js/00-include/layout.js"></script>
        <script src="../../js/00-include/functions.js"></script>
        <script src="../../js/00-include/common.js"></script>
        <!-- active menu를 위해 추가    -->
        <script src="/front/assets/js/myscript.js"></script>
        <!-- 방문자 통계를 위해 추가 -->
        <script src="/front/js/visit/client.js"></script>

        <!-- 계산기 menu를 위해 추가    -->
        <div id="toolModal" class="toolmodal" style="display: none;">
            <div class="tool-modal-overlay"></div>
            <div class="tool-modal-content"> <!-- 요소가 draggable 대상입니다 -->
                <div class="tool-modal-header">
                    <div class="modal-title">
                      <span class="modal-label">계산기</span>
                      <button class="tool-close-button" aria-label="닫기">X</button>
                    </div>
                </div>
                <div class="tool-modal-body">
                    <!-- 여기에 동적으로 iframe이 삽입될 예정 -->
                </div>
                <!-- 필요하다면 푸터 등 다른 내용 추가 -->
            </div>
        </div>
        <script>
            $(document).ready(function () {
                // DataTables 초기화
                initializeDataTable("");
            });

            // =============================================================================
            // table 관련 함수
            // =============================================================================
            /**
             * DataTables 초기화
             */
            function initializeDataTable() {
                let table = new DataTable("#ajax-datatables", {
                    language: {
                        url: "/assets/libs/datatables/lang/ko.json",
                    },
                    drawCallback: function () {
                        addPaginationClasses();
                    },
                    initComplete: function () {
                        let api = this.api();

                        // 검색박스 및 선택박스 생성
                        $(".dt-search").addClass("flex-nowrap input-group");
                        let searchBox = $(".dt-search input").addClass("input-box w350").removeClass("form-control-sm").attr("type", "text");
                        let columnSelect = $('<select class="select-box w150"><option value="">전체</option></select>')
                            .prependTo(".dt-search")
                            .on("change", function () {
                                let selectedColumn = $(this).val();
                                searchBox.trigger("keyup");
                            });

                        // 각 컬럼 이름으로 옵션 추가
                        api.columns().every(function () {
                            if (this.index() !== 4 && this.index() !== 6 && this.index() !== 7) {
                                // 특정 컬럼 제외 (예: 사진, 공개, 관리)
                                columnSelect.append('<option value="' + this.index() + '">' + $(this.header()).text() + "</option>");
                            }
                        });

                        // 검색박스 이벤트 핸들러 설정
                        searchBox.on("keyup", function () {
                            let searchTerm = this.value;
                            let selectedColumn = columnSelect.val();

                            if (selectedColumn) {
                                api.column(selectedColumn).search(searchTerm).draw();
                            } else {
                                api.search(searchTerm).draw();
                            }
                        });

                        // 특정 컬럼의 헤더에 선택박스 추가
                        api.columns().every(function () {
                            var column = this;
                            // 10번째 컬럼(인덱스 9)이 선택박스가 되도록 설정
                            if (column.index() === 6) {
                                // 선택박스를 생성하고, 클래스와 기본 옵션을 설정합니다.
                                var select = $('<select class="change-public-select form-select" style=""><option value="">상태(전체)</option></select>')
                                    .appendTo($(column.header()).empty()) // 생성한 선택박스를 해당 컬럼의 헤더에 추가하고 기존 내용을 비웁니다.
                                    .on("change", function () {
                                        loadTableData(table); // 선택된 값으로 데이터를 다시 로드
                                    });

                                // 해당 컬럼의 데이터에서 고유한 값들을 가져와 선택박스에 옵션으로 추가합니다.
                                column
                                    .data()
                                    .unique()
                                    .sort()
                                    .each(function (d, j) {
                                        const button = $(d).find("button.public-change-btn"); // 공개 컬럼의 첫 번째 버튼을 가져옵니다.
                                        if (button.length && !button.closest("ul").length) {
                                            // 버튼이 존재하고, ul의 자식이 아닌지 확인합니다.
                                            const text = button.text().trim();
                                            const flag = button.attr("data-public_fg");

                                            if (text) {
                                                // select.append('<option value="' + flag + '">' + text + "</option>"); // 각 고유 값을 선택박스의 옵션으로 추가합니다.
                                                const selectOptions = `
                                                <option value="">상태(전체)</option>
                                                <option value="신청중">신청중</option>
                                                <option value="확인">확인</option>`;
                                                select.html(selectOptions);
                                            }
                                        }
                                    });
                            }
                        });

                        addPaginationClasses(); // 초기화 시점에 페이지네이션 클래스 추가
                    },
                    scrollX: true, // 가로 스크롤 활성화
                    processing: true, // 처리 중 메시지 활성화
                    responsive: true, // 반응형 테이블 설정
                    // serverSide: true, // 서버 사이드 처리를 활성화
                    // colReorder: true,    // 컬럼 이동 활성화
                    destroy: true, // 테이블 파괴 가능
                    // lengthChange: false,
                    ajax: function (data, callback, settings) {
                        loadTableData(table, callback);
                    },
                    columns: [
                        { data: "order", title: "no" }, // 첫 번째 열로 순서를 추가
                        { data: "reg_name", title: "신청자" },
                        { data: "mobile", title: "신청자 연락처" },
                        { data: "address", title: "담보물 주소지" },
                        { data: "finance", title: "금융사" },
                        { data: "reg_date", title: "신청일자" },
                        { data: "status_description", title: "상태", orderable: false },
                        { data: "management", title: "상세", orderable: false },
                    ],
                    // rowReorder: {
                    //     selector: "td:nth-child(1)", // 첫 번째 열을 기준으로 row 재정렬
                    // },
                    order: [], // 기본 정렬 비활성화
                    columnDefs: [
                        // { className: "text-start", targets: [0] }, // 첫 번째 열에 좌측 정렬 클래스 추가
                        { className: "text-start align-content-center", targets: [0, 1, 2, 3, 4, 5, 6] }, // 모든 열에 좌측 정렬 클래스 추가
                        { width: 100, targets: [6] },
                        { className: "text-end", targets: [7] }, // 8 번째 열에 우측 정렬 클래스 추가
                        { responsivePriority: 1, targets: 2 }, // 첫 번째 열 우선순위 설정
                        { responsivePriority: 2, targets: -1 }, // 마지막 열 우선순위 설정
                        {
                            targets: [1, 4],
                            visible: true, // 기본적으로 모든 열을 보이게 설정
                            responsivePriority: 10001, // 특정 열의 우선순위를 가장 낮게 설정하여 작은 화면에서 숨김 처리
                        },
                    ],
                });
            }

            /**
             * 페이지네이션 클래스 추가 함수
             */
            function addPaginationClasses() {
                setTimeout(function () {
                    const pagination = $(".pagination");
                    if (pagination.length) {
                        pagination.addClass("paging-list pt-0 gap-1");
                    }
                }, 0);
            }

            /**
             * 테이블 데이터 불러오는 함수
             * @param {*} table
             * @param {*} callback
             */
            function loadTableData(table, callback) {
                let filterValue = $(".change-public-select").val() || "";
                callApi("POST", "fin_support_list.php", {}, "loading")
                    .then((result) => {
                        if (!result) {
                            console.log("통신 실패!!!");
                            if (callback) callback({ data: [] });
                            return;
                        }

                        const responseData = result;
                        console.log(responseData);

                        if (!responseData) {
                            if (callback) callback({ data: [] });
                            return;
                        }

                        // 데이터를 올바르게 변환하여 DataTables에 전달합니다.
                        const formattedData = responseData.map((item, index) => {
                            const reversedOrder = responseData.length - index; // 순서(DESC)
                            const address = item.address_road + " " + item.address_detail;

                            let finance_info = "";
                            if (item.branches.length > 1) {
                                finance_info = item.branches[0].c_name + " " + item.branches[0].b_name + " 외 " + (item.branches.length - 1) + "곳";
                            } else {
                                finance_info = item.branches[0].c_name;
                            }

                            return {
                                order: item.support_no, // 신청번호
                                reg_name: item.reg_name,
                                mobile: item.mobile,
                                address: address,
                                finance: finance_info,
                                reg_date: item.reg_date,
                                status_description: item.branches[0].status_description,
                                management: `
                                <div class="dropdown d-inline-block">
                                    <a href="mypage_fin_support_detail.html?fin_no=${item.support_no}" type="button" class="modal-open-btn btn btn-soft-danger btn-icon waves-effect waves-light" type="button">
                                        <i class="ri-eye-fill"></i>
                                    </a>
                                </div>`,
                            };
                        });

                        if (callback) {
                            callback({ data: formattedData });
                        } else {
                            table.clear().rows.add(formattedData).draw();
                        }

                        // 툴팁 초기화
                        $('[data-bs-toggle="tooltip"]').tooltip();
                    })
                    .catch((error) => {
                        console.error("AJAX 요청 중 오류 발생:", error);
                        if (callback) callback({ data: [] });
                    });
            }
        </script>
    </body>
</html>
