<script>
    $(async function () {
        const $modalWrap = $(".modal-pop-wrapper");
        const modalUrl = $modalWrap.attr("data-url");
        const fin_no = getUrlParameter("fin_no", modalUrl);

        // 모달 타이틀
        $modalWrap.find(".modal-title").text("금융지원 상세");

        finance_support_info(fin_no);

        // [Event] 저장하기 버튼 클릭
        $(".save-button").on("click", function () {
            user_info_register();
        });
    });
</script>

<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div>
        <div class="input-box mb-3">
            <label for="reg_name" class="col-form-label">신청자</label>
            <input type="text" class="form-control" id="reg_name" readonly />
        </div>

        <div class="input-box mb-3">
            <label for="mobile" class="col-form-label">휴대폰번호</label>
            <input type="text" class="form-control" id="mobile" readonly />
        </div>

        <div class="input-box mb-3">
            <label for="address_total" class="col-form-label">담보물 주소지</label>
            <input class="form-control" name="address_total" id="address_total" readonly />
        </div>

        <div class="input-box mb-3">
            <label for="loan_desired_amount" class="col-form-label">대출 희망 금액</label>
            <input class="form-control" name="loan_desired_amount" id="loan_desired_amount" readonly />
        </div>

        <div class="input-box mb-3">
            <label for="additional_note" class="col-form-label">기타 메모</label>
            <textarea class="form-control" name="additional_note" id="additional_note" readonly></textarea>
        </div>

        <div class="input-box mb-3">
            <label for="reg_date" class="col-form-label">신청 일자</label>
            <input class="form-control" name="reg_date" id="reg_date" readonly />
        </div>

        <div class="input-box mb-3">
            <label for="company_and_branch" class="col-form-label">신청 금융사 및 영업점</label>
            <div class="form-control" name="company_and_branch" id="company_and_branch" style="max-height: 100px; overflow: auto" readonly></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light waves-effect waves-light" data-bs-dismiss="modal">닫기</button>
</div>
