<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div>
        <div class="mb-3">
            <label for="title" class="col-form-label">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요." minlength="1" maxlength="200" />
        </div>

        <div class="mb-3">
            <label for="content" class="col-form-label">내용</label>
            <textarea type="text" class="form-control" id="content" placeholder="내용을 입력하세요."></textarea>
            <div class="error" style="color: red"></div>
        </div>

        <div class="d-flex align-items-center gap-2">
            <label for="public_fg" class="col-form-label">공개여부</label>
            <div class="form-check form-switch form-switch-md mb-0" dir="ltr" data-bs-toggle="collapse" data-bs-target="#job_list_collapse" aria-expanded="false" aria-controls="job_list_collapse">
                <input class="form-check-input" type="checkbox" role="switch" id="public_fg" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" data-bs-dismiss="modal">닫기</button>
    <button type="button" class="save-button btn btn-primary">저장하기</button>
</div>

<!-- ckeditor -->
<script src="/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script>
    $(async function () {
        const $modalWrap = $(".modal-pop-wrapper");
        const modalUrl = $modalWrap.attr("data-url");

        // 모달 타이틀
        $modalWrap.find(".modal-title").text("공지사항 등록");

        $(".save-button").on("click", function () {});
    });

    ClassicEditor.create(document.getElementById("content"))
        .then(function (e) {
            e.ui.view.editable.element.style.height = "200px";
        })
        .catch(function (e) {
            console.error(e);
        });
</script>
