<script>
    $(async function () {
        initRelationship();
    });
</script>

<div class="modal-header">
    <h5 class="modal-title">직군 관리</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
</div>
<div class="modal-body">
    <table id="relationship-datatables" class="table nowrap align-middle" style="width: 100%">
        <thead>
            <tr>
                <th>직군</th>
                <th>관리</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>
                    <input type="text" id="job_name" class="form-control" />
                    <div class="error" style="color: red"></div>
                </td>
                <td>
                    <div class="d-inline-block">
                        <button id="job_register_btn" class="btn btn-soft-secondary btn-sm" type="button">
                            <i class="ri-add-circle-line align-bottom me-2 text-muted"></i>
                            추가
                        </button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    <!-- end card -->
</div>
