<script>
    $(async function () {
        const $modalWrap = $(".modal-pop-wrapper");
        // 모달 타이틀
        $modalWrap.find(".modal-title").text("금융회원 등록");

        // 금융사 리스트
        finance_company_list();
        initializeChoices("branch_select");

        // [Event] 저장하기 버튼 클릭
        $(".save-button").on("click", function () {
            user_info_register();
        });
    });
</script>

<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div>
        <div class="input-box mb-3">
            <label for="id" class="col-form-label"><span class="text-danger">*</span> 아이디</label>
            <input type="text" class="form-control" id="id" placeholder="아이디를 입력하세요." minlength="4" maxlength="10" />
        </div>

        <div class="input-box mb-3">
            <label for="company_select" class="col-form-label"><span class="text-danger">*</span> 금융사</label>
            <select class="form-control" data-choices name="company_select" id="company_select">
                <option value="" hidden>금융사를 선택하세요.</option>
            </select>
            <div class="error" style="color: red"></div>
        </div>

        <div class="input-box mb-3">
            <label for="branch_select" class="col-form-label"><span class="text-danger">*</span> 영업점</label>
            <select class="form-select" data-choices name="branch_select" id="branch_select">
                <option value="" hidden>영업점을 선택하세요.</option>
            </select>
            <div class="error" style="color: red"></div>
        </div>

        <div class="input-box mb-3">
            <label for="name" class="col-form-label"><span class="text-danger">*</span> 담당자 이름</label>
            <input type="text" class="form-control" id="name" placeholder="담당자 이름을 입력하세요." minlength="1" maxlength="20" />
            <div class="error" style="color: red"></div>
        </div>

        <div class="input-box mb-3">
            <label for="mobile" class="col-form-label"><span class="text-danger">*</span> 휴대폰번호</label>
            <input type="text" class="form-control" id="mobile" placeholder="휴대폰번호를 입력하세요." minlength="9" maxlength="11" />
            <div class="error" style="color: red"></div>
        </div>

        <div class="input-box mb-3">
            <label for="email" class="col-form-label"><span class="text-danger">*</span> 이메일</label>
            <div class="form-icon right">
                <input type="text" class="form-control form-control-icon" id="email" placeholder="이메일을 입력하세요." minlength="1" maxlength="50" />
                <i class="ri-mail-unread-line"></i>
            </div>
            <div class="error" style="color: red"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light waves-effect waves-light" data-bs-dismiss="modal">닫기</button>
    <button type="button" class="save-button btn btn-primary waves-effect waves-light">저장하기</button>
</div>
