<!-- JSON 파일 포함 -->

<script>
    $(async function () {
        const $modalWrap = $(".modal-pop-wrapper");
        const modalUrl = $modalWrap.attr("data-url");
        const userNo = getUrlParameter("userNo", modalUrl);

        // 모달 타이틀
        $modalWrap.find(".modal-title").text("회원정보 수정");

        // 상태 리스트
        status_list();

        // 유저 정보
        user_info(userNo);

        $(".save-button").on("click", function () {
            user_info_update(userNo);
        });
    });
</script>

<div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <lord-icon src="/assets/json/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width: 100px; height: 100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Are you sure ?</h4>
                        <p class="text-muted mx-4 mb-0">회원정보를 삭제하시겠습니까?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn w-sm btn-danger" id="delete-notification">삭제하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
