<script>
    $(async function () {
        const $modalWrap = $(".modal-pop-wrapper");
        const modalUrl = $modalWrap.attr("data-url");
        // const user = getUrlParameter("user", modalUrl);

        // 모달 타이틀
        $modalWrap.find(".modal-title").text("권한 설정");

        $modalWrap.find(".modal-dialog").addClass("modal-sm  modal-dialog-scrollable");

        // 메뉴 리스트
        menu_list();
        permission_list();

        $("#per_select").on("change", function () {
            const p_no = $(this).val();
            const p_title = $("#per_select option:selected").text(); // 선택된 옵션의 텍스트
            permission_detail(p_no);
            $("#permission_title").val(p_title);
        });

        $("#per_save_button").on("click", function () {
            const p_no = $(this).attr("data-p_no");
            permission_update(p_no);
        });

        $("#new_per_btn").on("click", function () {
            const allBtn = $(".permission-btn");
            allBtn.removeClass("active").attr("aria-pressed", "false");

            $("#per_select").val("");
            $("#permission_title").val("");
            $("#per_save_button").attr("data-p_no", "");
        });
    });
</script>

<div class="modal-header d-flex flex-column">
    <div class="w-100 d-flex align-items-center justify-content-between mb-2">
        <div class="d-flex align-items-center">
            <h5 class="modal-title mx-2" id="myModalLabel"></h5>
            <button id="new_per_btn" class="btn btn-sm btn-info btn-label rounded-pill">
                <i class="ri-add-line label-icon align-middle rounded-pill fs-16 me-2"></i>
                신규 등록
            </button>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <select class="form-select" id="per_select">
        <option value="" hidden>신규 권한</option>
    </select>
</div>
<div class="modal-body card py-0">
    <div class="card-body p-0">
        <div class="input-box mb-3">
            <label for="permission_title" class="col-form-label"><span class="text-danger">*</span> 권한명</label>
            <input type="text" class="form-control" id="permission_title" placeholder="권한명을 입력하세요." minlength="1" maxlength="20" />
            <div class="error" style="color: red"></div>
        </div>
        <div class="input-box">
            <label class="col-form-label"><span class="text-danger"></span> 메뉴 리스트</label>
            <div id="menu_list"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" data-bs-dismiss="modal">닫기</button>
    <button type="button" id="per_save_button" class="save-button btn btn-info">저장하기</button>
</div>
