/front/assets/css/style.css
/assets/css/app.min.css
# /front/assets/css/content.css
/front/assets/css/common.css
/front/assets/css/board.css
/assets/css/icons.min.css
# /assets/css/bootstrap.min.css
/assets/libs/sweetalert2/sweetalert2.min.css
