@charset "utf-8";

/* 폰트세팅 ///////////////////////////////////////////////////////////////////////*/
/* 구글폰트 - 영문 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");

/* 나눔스퀘어 네오 */
@font-face {
    font-family: "NanumSquareNeo";
    font-style: normal;
    font-weight: 300;
    src: local("※"), url("../font/NanumSquareNeoTTF-aLt.woff") format("woff");
}
@font-face {
    font-family: "NanumSquareNeo";
    font-style: normal;
    font-weight: 400;
    src: local("※"), url("../font/NanumSquareNeoTTF-bRg.woff") format("woff");
}
@font-face {
    font-family: "NanumSquareNeo";
    font-style: normal;
    font-weight: 500;
    src: local("※"), url("../font/NanumSquareNeoTTF-cBd.woff") format("woff");
}
@font-face {
    font-family: "NanumSquareNeo";
    font-style: normal;
    font-weight: 600;
    src: local("※"), url("../font/NanumSquareNeoTTF-dEb.woff") format("woff");
}
@font-face {
    font-family: "NanumSquareNeo";
    font-style: normal;
    font-weight: 700;
    src: local("※"), url("../font/NanumSquareNeoTTF-eHv.woff") format("woff");
}

/* 원모바일 - 본문체 */
/* @font-face {
	font-family: 'OneMobile';
	font-style: normal;
	font-weight: 300;
	src: local('※'), url('../font/OneMobileLight.woff') format('woff');
}
@font-face {
	font-family: 'OneMobile';
	font-style: normal;
	font-weight: 400;
	src: local('※'), url('../font/OneMobileRegular.woff') format('woff');
}
@font-face {
	font-family: 'OneMobile';
	font-style: normal;
	font-weight: 500;
	src: local('※'), url('../font/OneMobileBold.woff') format('woff');
} */

/* 원모바일 - 제목체 */
/* @font-face {
	font-family: 'OneMobileTitle';
	font-style: normal;
	font-weight: 600;
	src: local('※'), url('../font/OneMobileTitleRegular.woff') format('woff');
} */

/* 본고딕 - 국문 */
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 250;
    src: local("NotoSansKR-Thin"), url("../font/NotoSans-Thin.eot"), url("../font/NotoSans-Thin.eot?#iefix") format("embedded-opentype"), url("../font/NotoSans-Thin.woff") format("woff"),
        url("../font/NotoSans-Thin.otf") format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 300;
    src: local("NotoSansKR-Light"), url("../font/NotoSans-Light.eot"), url("../font/NotoSans-Light.eot?#iefix") format("embedded-opentype"), url("../font/NotoSans-Light.woff") format("woff"),
        url("../font/NotoSans-Light.otf") format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 350;
    src: local("NotoSansKR-DemiLight"), url("../font/NotoSans-DemiLight.eot"), url("../font/NotoSans-DemiLight.eot?#iefix") format("embedded-opentype"),
        url("../font/NotoSans-DemiLight.woff") format("woff"), url("../font/NotoSans-DemiLight.otf") format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 400;
    src: local("NotoSansKR-Regular"), url("../font/NotoSans-Regular.eot"), url("../font/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../font/NotoSans-Regular.woff") format("woff"),
        url("../font/NotoSans-Regular.otf") format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 500;
    src: local("NotoSansKR-Medium"), url("../font/NotoSans-Medium.eot"), url("../font/NotoSans-Medium.eot?#iefix") format("embedded-opentype"), url("../font/NotoSans-Medium.woff") format("woff"),
        url("../font/NotoSans-Medium.otf") format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 700;
    src: local("NotoSansKR-Bold"), url("../font/NotoSans-Bold.eot"), url("../font/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../font/NotoSans-Bold.woff") format("woff"),
        url("../font/NotoSans-Bold.otf") format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 900;
    src: local("NotoSansKR-Black"), url("../font/NotoSans-Black.eot"), url("../font/NotoSans-Black.eot?#iefix") format("embedded-opentype"), url("../font/NotoSans-Black.woff") format("woff"),
        url("../font/NotoSans-Black.otf") format("truetype");
}

/* Montserrat */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: local("※"), url("../font/Montserrat-Thin.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    src: local("※"), url("../font/Montserrat-ExtraLight.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: local("※"), url("../font/Montserrat-Light.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("※"), url("../font/Montserrat-Regular.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local("※"), url("../font/Montserrat-Medium.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: local("※"), url("../font/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("※"), url("../font/Montserrat-Bold.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: local("※"), url("../font/Montserrat-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: local("※"), url("../font/Montserrat-Black.woff") format("woff");
}

/* Poppins */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    src: local("※"), url("../font/Poppins-Thin.woff") format("woff");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    src: local("※"), url("../font/Poppins-ExtraLight.woff") format("woff");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: local("※"), url("../font/Poppins-Light.woff") format("woff");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: local("※"), url("../font/Poppins-Regular.woff") format("woff");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: local("※"), url("../font/Poppins-Medium.woff") format("woff");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: local("※"), url("../font/Poppins-SemiBold.woff") format("woff");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: local("※"), url("../font/Poppins-Bold.woff") format("woff");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    src: local("※"), url("../font/Poppins-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    src: local("※"), url("../font/Poppins-Black.woff") format("woff");
}
