@charset "utf-8";


/* 메인  /////////////////////////////////////////////////////////////////////////*/
/* 풀페이지 - 네비 */
#fp-nav ul li {margin:14px 10px;}
#fp-nav ul li a.active span {display:none;}
.fp-tooltip {margin:-3px -20px 0 0; padding:6px 17px 6px 17px; font-size:12px !important; line-height:12px !important; color:#fff; letter-spacing:-1px; border-radius:18px 18px 18px 18px; background:#14B8A6; z-index:99999999;}

/* 비주얼 영역 - 베가스 */
.main-vegas {height:100vh;}
.main-vegas .mv-copy {position:absolute; top:50%; left:50%; width:1400px; margin:-100px 0 0 -700px; z-index:97;}
.main-vegas .mv-copy > h2 {font-weight:700; font-size:55px; line-height:55px; color:#fff; letter-spacing:-2px;}
.main-vegas .mv-copy > h3 {margin-top:15px; font-weight:700; font-size:55px; line-height:55px; color:#fff; letter-spacing:-2px;}
.main-vegas .mv-copy > div {opacity:0; margin-top:70px;}
.main-vegas .mv-copy > div a {display:flex; justify-content:space-between; align-items:center; width:220px; padding:20px 25px; border-radius:30px; background:#14B8A6;}
.main-vegas .mv-copy > div a span {font-weight:500; font-size:15px; line-height:16px; color:#fff; letter-spacing:-1px;}
.main-vegas .mv-copy > div a i {font-size:14px; line-height:14px; color:#fff;}
.main-vegas .mv-copy > div a:hover {width:250px; background:#fff;}
.main-vegas .mv-copy > div a:hover span {color:#111;}
.main-vegas .mv-copy > div a:hover i {color:#14B8A6;}
.main-vegas .mv-scroll {position:absolute; bottom:50px; left:50%; width:108px; margin:40px 0 0 -54px; text-align:center; z-index:98;}
.main-vegas .mv-scroll > div {margin-top:10px; font-weight:600; font-size:12px; line-height:12px; color:#fff; letter-spacing:1px;}
.main-vegas .mv-dots {position:absolute; top:50%; left:50%; width:1400px; margin:-150px 0 0 -700px; z-index:99;}
.main-vegas .mv-dots a {display:inline-block; width:7px; height:7px; margin:0 15px; border-radius:10px; background:#fff; opacity:0.5;}

@media all and (max-width:479px) {
  .main-vegas {height:100vh;}
  .main-vegas .mv-copy {width:90%; margin:-130px 0 0 -45%;}
  .main-vegas .mv-copy > h2 {font-size:30px; line-height:35px;}
  .main-vegas .mv-copy > h3 {margin-top:3px; font-size:30px; line-height:35px;}
  .main-vegas .mv-copy > div {margin-top:40px;}
  .main-vegas .mv-copy > div a {width:180px; padding:15px 20px;}
  .main-vegas .mv-copy > div a span {font-size:12px; line-height:12px;}
  .main-vegas .mv-copy > div a:hover {width:220px;}
  .main-vegas .mv-scroll {bottom:30px;}
  .main-vegas .mv-scroll > p img {width:20px;}
  .main-vegas .mv-scroll > div {font-size:10px; line-height:10px;}
  .main-vegas .mv-dots {width:90%; margin:-160px 0 0 -45%;}
  .main-vegas .mv-dots a {margin:0 10px;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .main-vegas {height:100vh;}
  .main-vegas .mv-copy {width:470px; margin:-130px 0 0 -235px;}
  .main-vegas .mv-copy > h2 {font-size:30px; line-height:35px;}
  .main-vegas .mv-copy > h3 {margin-top:3px; font-size:30px; line-height:35px;}
  .main-vegas .mv-copy > div {margin-top:40px;}
  .main-vegas .mv-copy > div a {width:180px; padding:15px 20px;}
  .main-vegas .mv-copy > div a span {font-size:12px; line-height:12px;}
  .main-vegas .mv-copy > div a:hover {width:220px;}
  .main-vegas .mv-scroll {bottom:30px;}
  .main-vegas .mv-scroll > p img {width:20px;}
  .main-vegas .mv-scroll > div {font-size:10px; line-height:10px;}
  .main-vegas .mv-dots {width:470px; margin:-160px 0 0 -235px;}
  .main-vegas .mv-dots a {margin:0 10px;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .main-vegas {height:100vh;}
  .main-vegas .mv-copy {width:750px; margin:-130px 0 0 -375px;}
  .main-vegas .mv-copy > h2 {font-size:40px; line-height:45px;}
  .main-vegas .mv-copy > h3 {margin-top:5px; font-size:40px; line-height:45px;}
  .main-vegas .mv-copy > div {margin-top:50px;}
  .main-vegas .mv-scroll {bottom:30px;}
  .main-vegas .mv-scroll > p img {width:20px;}
  .main-vegas .mv-scroll > div {font-size:10px; line-height:10px;}
  .main-vegas .mv-dots {width:750px; margin:-160px 0 0 -375px;}
  .main-vegas .mv-dots a {margin:0 10px;}
}
@media all and (min-width:992px) and (max-width:1199px) {
  .main-vegas {height:100vh;}
  .main-vegas .mv-copy {width:970px; margin:-130px 0 0 -485px;}
  .main-vegas .mv-copy > h2 {font-size:50px; line-height:55px;}
  .main-vegas .mv-copy > h3 {margin-top:15px; font-size:50px; line-height:55px;}
  .main-vegas .mv-scroll {bottom:30px;}
  .main-vegas .mv-scroll > p img {width:20px;}
  .main-vegas .mv-scroll > div {font-size:10px; line-height:10px;}
  .main-vegas .mv-dots {width:970px; margin:-160px 0 0 -485px;}
}
@media all and (min-width:1200px) and (max-width:1399px) {
  .main-vegas {height:100vh;}
  .main-vegas .mv-copy {width:1180px; margin:-140px 0 0 -590px;}
  .main-vegas .mv-copy > h3 {padding-right:300px;}
  .main-vegas .mv-dots {width:1180px; margin:-200px 0 0 -590px;}
}
@media all and (min-width:1400px) {

}


/* 서비스 소개 */
.main-introduction {position:relative; width:100%; height:100%;}
.main-introduction > ul {display:flex; width:100%; height:100%;}
.main-introduction > ul > li {width:50%; height:100%;}
.main-introduction > ul > li:first-child {background:url('../image/main_introduction_bg.jpg') right center no-repeat; background-size:cover;}
.main-introduction > dl {position:absolute; top:50%; left:50%; display:flex; justify-content:space-between; width:1400px; margin:-480px 0 0 -700px; padding:200px 0;}
.main-introduction > dl > dt {width:50%;}
.main-introduction > dl > dd {display:flex; justify-content:space-between; align-items:center; width:50%; padding-left:100px;}
.main-introduction > dl > dd > div {padding-top:90px;}
.main-introduction > dl > dd > div > p {width:30px; height:1px; margin:25px 0; background:#14B8A6;}
.main-introduction > dl > dd > div > h2 {font-weight:700; font-size:15px; line-height:16px; color:#111;}
.main-introduction > dl > dd > div > h3 {padding-right:50px; font-weight:700; font-size:45px; line-height:55px; color:#111; letter-spacing:-1px;}
.main-introduction > dl > dd > div > h3 span {background:linear-gradient(87deg, #14B8A6 5.79%, #14B8A6 48.59%, #14B8A6 93.47%); background-clip:text; -webkit-background-clip:text; -webkit-text-fill-color:transparent;}
.main-introduction > dl > dd > div > h4 {margin-top:40px; font-weight:500; font-size:18px; line-height:30px; letter-spacing:-1px;}
.main-introduction > dl > dd > div > h4 span {color:#14B8A6;}
.main-introduction > dl > dd > div > div {margin-top:50px;}
.main-introduction > dl > dd > div > div a {display:flex; align-items:center; cursor:pointer;}
.main-introduction > dl > dd > div > div a em {display:flex; justify-content:center; align-items:center; width:65px; height:65px; font-size:22px; line-height:22px; color:#fff; border-radius:50%; background:#9E1E49;}
.main-introduction > dl > dd > div > div a span {display:inline-block; margin-left:15px; font-size:16px; line-height:16px; color:#555;}

@media all and (max-width:479px) {
  .main-introduction {position:relative; width:100%; height:auto;}
  .main-introduction > ul {display:block; width:100%; height:500px;}
  .main-introduction > ul > li {width:100%; height:100%;}
  .main-introduction > dl {position:relative; top:0; left:0; width:90%; margin:0 auto; padding:80px 0;}
  .main-introduction > dl > dt {display:none;}
  .main-introduction > dl > dd {display:flex; justify-content:space-between; align-items:center; width:100%; padding-left:0;}
  .main-introduction > dl > dd > div {padding-top:0;}
  .main-introduction > dl > dd > div > h2 {font-size:14px; line-height:14px;}
  .main-introduction > dl > dd > div > h3 {font-size:30px; line-height:35px;}
  .main-introduction > dl > dd > div > h4 {margin-top:20px; padding-right:50px; font-size:16px; line-height:24px;}
  .main-introduction > dl > dd > div > div {margin-top:25px;}
  .main-introduction > dl > dd > div > div a em {width:45px; height:45px;}
  .main-introduction > dl > dd > div > div a span {margin-left:10px; font-size:14px; line-height:14px;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .main-introduction {position:relative; width:100%; height:auto;}
  .main-introduction > ul {display:block; width:100%; height:500px;}
  .main-introduction > ul > li {width:100%; height:100%;}
  .main-introduction > dl {position:relative; top:0; left:0; width:470px; margin:0 auto; padding:80px 0;}
  .main-introduction > dl > dt {display:none;}
  .main-introduction > dl > dd {display:flex; justify-content:space-between; align-items:center; width:100%; padding-left:0;}
  .main-introduction > dl > dd > div {padding-top:0;}
  .main-introduction > dl > dd > div > h2 {font-size:14px; line-height:14px;}
  .main-introduction > dl > dd > div > h3 {font-size:30px; line-height:35px;}
  .main-introduction > dl > dd > div > h4 {margin-top:20px; padding-right:50px; font-size:16px; line-height:24px;}
  .main-introduction > dl > dd > div > div {margin-top:25px;}
  .main-introduction > dl > dd > div > div a em {width:45px; height:45px;}
  .main-introduction > dl > dd > div > div a span {margin-left:10px; font-size:14px; line-height:14px;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .main-introduction {position:relative; width:100%; height:auto;}
  .main-introduction > ul {display:block; width:100%; height:500px;}
  .main-introduction > ul > li {width:100%; height:100%;}
  .main-introduction > dl {position:relative; top:0; left:0; width:750px; margin:0 auto; padding:80px 0;}
  .main-introduction > dl > dt {display:none;}
  .main-introduction > dl > dd {display:flex; justify-content:space-between; align-items:center; width:100%; padding-left:0;}
  .main-introduction > dl > dd > div {padding-top:0;}
  .main-introduction > dl > dd > div > h2 {font-size:14px; line-height:14px;}
  .main-introduction > dl > dd > div > h3 {font-size:35px; line-height:35px;}
  .main-introduction > dl > dd > div > h4 {margin-top:30px; padding-right:50px; font-size:16px; line-height:24px;}
  .main-introduction > dl > dd > div > div {margin-top:25px;}
  .main-introduction > dl > dd > div > div a em {width:45px; height:45px;}
  .main-introduction > dl > dd > div > div a span {margin-left:10px; font-size:14px; line-height:14px;}
}
@media all and (min-width:992px) and (max-width:1199px) {
  .main-introduction > dl {width:970px; margin:-500px 0 0 -485px;}
  .main-introduction > dl > dd {padding-left:50px;}
  .main-introduction > dl > dd > div > h3 {font-size:40px; line-height:50px;}
}
@media all and (min-width:1200px) and (max-width:1399px) {
  .main-introduction > dl {width:1180px; margin:-470px 0 0 -590px;}
  .main-introduction > dl > dd {padding-left:50px;}
}
@media all and (min-width:1400px) {

}


/* 기술력 */
.main-technology {position:relative; width:100%; height:100%; background:url('../image/main_technology_bg.jpg') center center no-repeat; background-size:cover;}
.main-technology > ul {display:flex; justify-content:space-between; align-items:center; height:100%;}
.main-technology > ul > li {display:flex; justify-content:center; align-items:center; width:calc(100%/3); height:100%; padding-top:100px; border-left:rgba(255,255,255,0.3) 1px solid; cursor:pointer; transition:all 0.3s ease-in-out;}
.main-technology > ul > li:first-child {border-left:none;}
.main-technology > ul > li:hover {background:rgba(36, 173, 162, 0.4);}
.main-technology > ul > li > div {height:470px; padding:0 70px;}
.main-technology > ul > li > div p {width:100%; text-align:center; font-size:60px; line-height:60px; color:#fff;}
.main-technology > ul > li > div h2 {width:100%; margin-top:60px; text-align:center; font-weight:700; font-size:30px; line-height:30px; color:#fff; letter-spacing:-1px;}
.main-technology > ul > li > div ul {margin-top:60px;}
.main-technology > ul > li:nth-child(1) > div ul {padding-left:40px;}
.main-technology > ul > li:nth-child(2) > div ul {padding-left:10px;}
.main-technology > ul > li:nth-child(3) > div ul {padding-left:10px;}
.main-technology > ul > li > div ul li {width:100%; padding:12px 0 12px 12px; font-size:18px; line-height:18px; color:#fff; letter-spacing:-1px; background:url('../image/icn_dot01.gif') 0 18px no-repeat;}

@media all and (max-width:479px) {
  .main-technology > ul {flex-wrap:wrap;}
  .main-technology > ul > li {flex-wrap:wrap; width:100%; height:auto; padding-top:0;}
  .main-technology > ul > li:nth-child(1) {border-bottom:rgba(255,255,255,0.3) 1px solid;}
  .main-technology > ul > li:nth-child(2) {border-bottom:rgba(255,255,255,0.3) 1px solid;}
  .main-technology > ul > li > div {height:auto; padding:50px 0;}
  .main-technology > ul > li > div h2 {margin-top:30px; font-size:22px; line-height:22px;}
  .main-technology > ul > li > div ul {margin-top:30px;}
  .main-technology > ul > li:nth-child(1) > div ul {padding-left:10px;}
  .main-technology > ul > li:nth-child(2) > div ul {padding-left:0;}
  .main-technology > ul > li:nth-child(3) > div ul {padding-left:0;}
  .main-technology > ul > li > div ul li {padding:8px 0 8px 12px; font-size:16px; line-height:24px; background:url('../image/icn_dot01.gif') 0 18px no-repeat;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .main-technology > ul {flex-wrap:wrap;}
  .main-technology > ul > li {flex-wrap:wrap; width:100%; height:auto; padding-top:0;}
  .main-technology > ul > li:nth-child(1) {border-bottom:rgba(255,255,255,0.3) 1px solid;}
  .main-technology > ul > li:nth-child(2) {border-bottom:rgba(255,255,255,0.3) 1px solid;}
  .main-technology > ul > li > div {height:auto; padding:50px 0;}
  .main-technology > ul > li > div h2 {margin-top:30px; font-size:22px; line-height:22px;}
  .main-technology > ul > li > div ul {margin-top:30px;}
  .main-technology > ul > li:nth-child(1) > div ul {padding-left:10px;}
  .main-technology > ul > li:nth-child(2) > div ul {padding-left:0;}
  .main-technology > ul > li:nth-child(3) > div ul {padding-left:0;}
  .main-technology > ul > li > div ul li {padding:8px 0 8px 12px; font-size:16px; line-height:24px; background:url('../image/icn_dot01.gif') 0 18px no-repeat;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .main-technology > ul {flex-wrap:wrap;}
  .main-technology > ul > li {flex-wrap:wrap; width:100%; height:auto; padding-top:0;}
  .main-technology > ul > li:nth-child(1) {border-bottom:rgba(255,255,255,0.3) 1px solid;}
  .main-technology > ul > li:nth-child(2) {border-bottom:rgba(255,255,255,0.3) 1px solid;}
  .main-technology > ul > li > div {height:auto; padding:70px 0;}
  .main-technology > ul > li > div h2 {margin-top:40px; font-size:24px; line-height:24px;}
  .main-technology > ul > li > div ul {margin-top:40px;}
  .main-technology > ul > li:nth-child(1) > div ul {padding-left:10px;}
  .main-technology > ul > li:nth-child(2) > div ul {padding-left:0;}
  .main-technology > ul > li:nth-child(3) > div ul {padding-left:0;}
  .main-technology > ul > li > div ul li {padding:8px 0 8px 12px; font-size:16px; line-height:24px; background:url('../image/icn_dot01.gif') 0 18px no-repeat;}
}
@media all and (min-width:992px) and (max-width:1199px) {
  .main-technology > ul > li > div {height:430px; padding:0 30px;}
  .main-technology > ul > li > div h2 {margin-top:40px; font-size:24px; line-height:24px;}
  .main-technology > ul > li > div ul {margin-top:40px;}
  .main-technology > ul > li:nth-child(1) > div ul {padding-left:10px;}
  .main-technology > ul > li:nth-child(2) > div ul {padding-left:0;}
  .main-technology > ul > li:nth-child(3) > div ul {padding-left:0;}
  .main-technology > ul > li > div ul li {padding:8px 0 8px 12px; font-size:16px; line-height:24px; background:url('../image/icn_dot01.gif') 0 18px no-repeat;}
}
@media all and (min-width:1200px) and (max-width:1399px) {
  .main-technology > ul > li > div {padding:0 30px;}
}
@media all and (min-width:1400px) {

}


/* 앱서비스 */
.main-app {width:100%; height:100%; overflow:hidden;}
.main-app > dl {display:flex; justify-content:space-between; width:1400px; height:100%; margin:0 auto; padding:200px 0;}
.main-app > dl > dt {display:flex; justify-content:space-between; align-items:center; width:50%;}
.main-app > dl > dt > div {padding-top:50px;}
.main-app > dl > dt > div > p {width:30px; height:1px; margin:25px 0; background:#14B8A6;}
.main-app > dl > dt > div > h2 {font-weight:700; font-size:15px; line-height:16px; color:#111;}
.main-app > dl > dt > div > h3 {font-weight:700; font-size:45px; line-height:55px; color:#111; letter-spacing:-1.5px;}
.main-app > dl > dt > div > h3 span {color:#14B8A6;}
.main-app > dl > dt > div > h4 {margin-top:30px; padding-right:50px; font-weight:500; font-size:18px; line-height:30px; letter-spacing:-1px;}
.main-app > dl > dt > div > ul {display:flex; margin-top:50px;}
.main-app > dl > dt > div > ul li {margin-right:35px;}
.main-app > dl > dt > div > ul li span {display:block; margin-bottom:8px;}
.main-app > dl > dt > div > ul li span img {width:120px; padding:5px; border:#e9e9e9 3px solid; border-radius:6px;}
.main-app > dl > dt > div > ul li a img {width:120px;}
.main-app > dl > dd {position:relative; width:42%;}
.main-app > dl > dd > ul {display:flex; justify-content:space-between; position:absolute; width:100%; z-index:99;}
.main-app > dl > dd > ul > li {width:46%;}
.main-app > dl > dd > ul > li:nth-child(1) {margin-top:-200px;}
.main-app > dl > dd > ul > li:nth-child(2) {margin-top:-200px;}
.main-app > dl > dd > ul > li > div {position:relative; height:550px; margin:25px 0; border-radius:20px; overflow:hidden;}
.main-app > dl > dd > ul > li > div div {position:absolute; bottom:0; width:100%; padding:30px; background:linear-gradient(to top, rgba(0,0,0,1) 10%, rgba(0,0,0,0.0));}
.main-app > dl > dd > ul > li > div div h2 {margin-top:50px; font-weight:600; font-size:20px; line-height:26px; color:#fff; letter-spacing:-0.5px;}
.main-app > dl > dd > ul > li > div div h3 {margin-top:20px; font-weight:500; font-size:15px; line-height:22px; color:rgba(255,255,255,0.7); letter-spacing:-0.5px;}

@media all and (max-width:479px) {
  .main-app {height:auto; overflow:visible;}
  .main-app > dl {flex-wrap:wrap; width:90%; height:auto; padding:80px 0;}
  .main-app > dl > dt {align-items:top; width:100%;}
  .main-app > dl > dt > div {padding-top:0;}
  .main-app > dl > dt > div > h2 {font-size:14px; line-height:14px;}
  .main-app > dl > dt > div > h3 {font-size:30px; line-height:35px;}
  .main-app > dl > dt > div > h4 {margin-top:20px; padding-right:50px; font-size:16px; line-height:24px;}
  .main-app > dl > dt > div > ul {margin-top:30px;}
  .main-app > dl > dt > div > ul li {margin-right:15px;}
  .main-app > dl > dt > div > ul li:last-child {margin-right:0;}
  .main-app > dl > dt > div > ul li span img {width:100px;}
  .main-app > dl > dt > div > ul li a img {width:100px;}
  .main-app > dl > dd {width:100%;}
  .main-app > dl > dd > ul {display:none;}

  .main-app > dl > dd > ol {display:flex; justify-content:space-between; flex-wrap:wrap; width:100%; margin-top:40px;}
  .main-app > dl > dd > ol > li {width:48%; margin:5px 0;}
  .main-app > dl > dd > ol > li > img {width:100%;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .main-app {height:auto; overflow:visible;}
  .main-app > dl {flex-wrap:wrap; width:470px; height:auto; padding:80px 0;}
  .main-app > dl > dt {align-items:top; width:100%;}
  .main-app > dl > dt > div {padding-top:0;}
  .main-app > dl > dt > div > h2 {font-size:14px; line-height:14px;}
  .main-app > dl > dt > div > h3 {font-size:30px; line-height:35px;}
  .main-app > dl > dt > div > h4 {margin-top:20px; padding-right:50px; font-size:16px; line-height:24px;}
  .main-app > dl > dt > div > ul {margin-top:30px;}
  .main-app > dl > dt > div > ul li {margin-right:15px;}
  .main-app > dl > dt > div > ul li:last-child {margin-right:0;}
  .main-app > dl > dt > div > ul li span img {width:100px;}
  .main-app > dl > dt > div > ul li a img {width:100px;}
  .main-app > dl > dd {width:100%;}
  .main-app > dl > dd > ul {display:none;}

  .main-app > dl > dd > ol {display:flex; justify-content:space-between; flex-wrap:wrap; width:100%; margin-top:40px;}
  .main-app > dl > dd > ol > li {width:48%; margin:5px 0;}
  .main-app > dl > dd > ol > li > img {width:100%;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .main-app {height:auto; overflow:visible;}
  .main-app > dl {flex-wrap:wrap; width:750px; height:auto; padding:100px 0 50px 0;}
  .main-app > dl > dt {align-items:top; width:100%;}
  .main-app > dl > dt > div {padding-top:0;}
  .main-app > dl > dt > div > h2 {font-size:14px; line-height:14px;}
  .main-app > dl > dt > div > h3 {font-size:35px; line-height:40px;}
  .main-app > dl > dt > div > h4 {margin-top:20px; padding-right:50px; font-size:16px; line-height:24px;}
  .main-app > dl > dt > div > ul {margin-top:40px;}
  .main-app > dl > dt > div > ul li {margin-right:25px;}
  .main-app > dl > dt > div > ul li:last-child {margin-right:0;}
  .main-app > dl > dt > div > ul li span img {width:100px;}
  .main-app > dl > dt > div > ul li a img {width:100px;}
  .main-app > dl > dd {width:100%;}
  .main-app > dl > dd > ul {display:none;}

  .main-app > dl > dd > ol {display:flex; justify-content:space-between; flex-wrap:wrap; width:100%; margin-top:60px;}
  .main-app > dl > dd > ol > li {width:31%; margin:5px 0;}
  .main-app > dl > dd > ol > li > img {width:100%;}
}
@media all and (min-width:992px) and (max-width:1199px) {
  .main-app > dl {width:970px; padding:180px 0;}
  .main-app > dl > dt {width:38%;}
  .main-app > dl > dt > div {padding-top:0;}
  .main-app > dl > dt > div > h3 {font-size:40px; line-height:50px;}
  .main-app > dl > dt > div > ul li {margin-right:25px;}
  .main-app > dl > dt > div > ul li:last-child {margin-right:0;}
  .main-app > dl > dt > div > ul li span img {width:100px;}
  .main-app > dl > dt > div > ul li a img {width:100px;}
  .main-app > dl > dd {position:relative; width:58%;}
  .main-app > dl > dd > ul > li {width:48%;}
  
  .main-app > dl > dd > ol {display:none;}
}
@media all and (min-width:1200px) and (max-width:1399px) {
  .main-app > dl {width:1180px; padding:130px 0;}
  .main-app > dl > dt {width:45%;}
  .main-app > dl > dt > div > ul li {margin-right:25px;}
  .main-app > dl > dt > div > ul li:last-child {margin-right:0;}
  .main-app > dl > dd {position:relative; width:48%;}
  .main-app > dl > dd > ul > li {width:48%;}

  .main-app > dl > dd > ol {display:none;}
}
@media all and (min-width:1400px) {
  .main-app > dl > dd > ol {display:none;}
}


/* 요금안내 */
.main-charge {position:relative; width:100%; height:100%; background:url('../image/main_charge_bg.jpg') no-repeat; background-size:cover;}
.main-charge > div {position:absolute; top:50%; left:50%; width:1400px; margin:-220px 0 0 -700px;}
.main-charge > div > p {width:30px; height:1px; margin:25px auto; background:#14B8A6;}
.main-charge > div > h2 {text-align:center; font-weight:700; font-size:45px; line-height:50px; color:#111; letter-spacing:-2.5px;}
.main-charge > div > h2 span {color:#14B8A6;}
.main-charge > div > h3 {margin-top:25px; text-align:center; font-weight:500; font-size:18px; line-height:28px; color:rgba(0,0,0,0.7); letter-spacing:-1px;}
.main-charge > div > ul {display:flex; justify-content:space-between; margin-top:80px;}
.main-charge > div > ul > li {width:31%; padding:50px 40px; text-align:center; border:#14B8A6 3px solid; border-radius:15px; background:rgba(255,255,255,0.8);}
.main-charge > div > ul > li:nth-child(2) {border:#14B8A6 3px solid;}
.main-charge > div > ul > li > h2 {font-weight:700; font-size:26px; line-height:26px; color:#111; letter-spacing:-1px;}
.main-charge > div > ul > li > h3 {margin-top:20px; font-size:14px; line-height:14px; letter-spacing:-1px;}
.main-charge > div > ul > li > ul {display:flex; justify-content:space-between; margin-top:50px;}
.main-charge > div > ul > li > ul > li {width:48%; padding:20px; border-radius:6px;}
.main-charge > div > ul > li > ul > li:nth-child(1) {background:#5c5c5c;}
.main-charge > div > ul > li > ul > li:nth-child(2) {background:#14B8A6;}
.main-charge > div > ul > li > ul > li h2 {font-size:16px; line-height:16px; color:#fff; letter-spacing:-1px;}
.main-charge > div > ul > li > ul > li h3 {margin-top:14px; font-weight:700; font-size:28px; line-height:28px; color:#fff;}

@media all and (max-width:479px) {
  .main-charge {position:relative; width:100%; height:auto;}
  .main-charge > div {position:relative; top:0; left:0; width:90%; margin:0 auto; padding:80px 0;}
  .main-charge > div > h2 {font-size:30px; line-height:40px; letter-spacing:-1.5px;}
  .main-charge > div > h3 {font-size:16px; line-height:24px;}
  .main-charge > div > ul {flex-wrap:wrap; margin-top:50px;}
  .main-charge > div > ul > li {width:100%; margin:10px 0; padding:40px 30px; border:#e5e5e5 3px solid;}
  .main-charge > div > ul > li:nth-child(2) {border:#e5e5e5 3px solid;}
  .main-charge > div > ul > li > h2 {font-size:22px; line-height:22px;}
  .main-charge > div > ul > li > ul {margin-top:40px;}
  .main-charge > div > ul > li > ul > li {padding:20px 10px;}
  .main-charge > div > ul > li > ul > li h2 {font-size:14px; line-height:16px;}
  .main-charge > div > ul > li > ul > li h3 {margin-top:12px; font-size:22px; line-height:22px;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .main-charge {position:relative; width:100%; height:auto;}
  .main-charge > div {position:relative; top:0; left:0; width:470px; margin:0 auto; padding:80px 0;}
  .main-charge > div > h2 {font-size:30px; line-height:40px; letter-spacing:-1.5px;}
  .main-charge > div > h3 {font-size:16px; line-height:24px;}
  .main-charge > div > ul {flex-wrap:wrap; margin-top:50px;}
  .main-charge > div > ul > li {width:100%; margin:10px 0; padding:40px 30px; border:#e5e5e5 3px solid;}
  .main-charge > div > ul > li:nth-child(2) {border:#e5e5e5 3px solid;}
  .main-charge > div > ul > li > h2 {font-size:22px; line-height:22px;}
  .main-charge > div > ul > li > ul {margin-top:40px;}
  .main-charge > div > ul > li > ul > li {padding:20px 10px;}
  .main-charge > div > ul > li > ul > li h2 {font-size:14px; line-height:16px;}
  .main-charge > div > ul > li > ul > li h3 {margin-top:12px; font-size:22px; line-height:22px;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .main-charge {position:relative; width:100%; height:auto;}
  .main-charge > div {position:relative; top:0; left:0; width:750px; margin:0 auto; padding:100px 0;}
  .main-charge > div > h2 {font-size:35px; line-height:45px; letter-spacing:-1.5px;}
  .main-charge > div > h3 {font-size:16px; line-height:24px;}
  .main-charge > div > ul {flex-wrap:wrap; margin-top:50px;}
  .main-charge > div > ul > li {width:32%; margin:10px 0; padding:40px 10px; border:#e5e5e5 3px solid;}
  .main-charge > div > ul > li:nth-child(2) {border:#e5e5e5 3px solid;}
  .main-charge > div > ul > li > h2 {font-size:22px; line-height:22px;}
  .main-charge > div > ul > li > ul {margin-top:40px;}
  .main-charge > div > ul > li > ul > li {padding:20px 10px;}
  .main-charge > div > ul > li > ul > li h2 {font-size:14px; line-height:16px;}
  .main-charge > div > ul > li > ul > li h3 {margin-top:12px; font-size:18px; line-height:18px;}
}
@media all and (min-width:992px) and (max-width:1199px) {
  .main-charge > div {width:970px; margin:-200px 0 0 -485px;}
  .main-charge > div > h2 {font-size:40px; line-height:45px; letter-spacing:-1.5px;}
  .main-charge > div > h3 {font-size:16px; line-height:24px;}
  .main-charge > div > ul > li {width:32%; padding:40px 20px;}
  .main-charge > div > ul > li > ul > li h3 {margin-top:12px; font-size:20px; line-height:20px;}
}
@media all and (min-width:1200px) and (max-width:1399px) {
  .main-charge > div {width:1180px; margin:-200px 0 0 -590px;}
  .main-charge > div > ul > li {width:32%; padding:40px 20px;}
}
@media all and (min-width:1400px) {

}


/* 요금안내 - SaaS */
.main-saas {position:relative; width:100%; height:100%; background:url('../image/main_saas_bg.jpg') no-repeat; background-size:cover;}
.main-saas > div {position:absolute; top:50%; left:50%; width:1400px; margin:-280px 0 0 -700px;}
.main-saas > div > p {width:30px; height:1px; margin:25px auto; background:#14B8A6;}
.main-saas > div > h2 {text-align:center; font-weight:700; font-size:45px; line-height:50px; color:#111; letter-spacing:-2.5px;}
.main-saas > div > h2 span {color:#14B8A6;}
.main-saas > div > h3 {margin-top:25px; text-align:center; font-weight:500; font-size:18px; line-height:28px; color:rgba(0,0,0,0.7); letter-spacing:-1px;}
.main-saas > div > ul {display:flex; justify-content:space-between; margin-top:80px;}
.main-saas > div > ul > li {width:31%; text-align:center; border-radius:15px; background:rgba(255,255,255,1); overflow:hidden;}
.main-saas > div > ul > li > h2 {padding:20px; font-weight:700; font-size:26px; line-height:26px; color:#fff;}
.main-saas > div > ul > li:nth-child(1) > h2 { background:#14B8A6;}
.main-saas > div > ul > li:nth-child(2) > h2 { background:#0b9686;}
.main-saas > div > ul > li:nth-child(3) > h2 { background:#026e62;}
.main-saas > div > ul > li > div {padding:30px 0;}
.main-saas > div > ul > li > div h2 {font-weight:700; font-size:50px; line-height:50px; color:#111;}
.main-saas > div > ul > li > div h2 span {font-weight:400; font-size:14px; line-height:26px; color:#777; letter-spacing:-0.5px;}
.main-saas > div > ul > li > div h3 {margin-top:25px; font-weight:400; font-size:18px; line-height:18px; color:#111; letter-spacing:-0.5px;}
.main-saas > div > ul > li > div div {display:flex; justify-content:center; margin-top:30px; padding-top:30px; border-top:#e9e9e9 1px solid;}
.main-saas > div > ul > li > div div ul {text-align:left;}
.main-saas > div > ul > li > div div ul li {padding:8px 0 8px 12px; font-weight:400; font-size:16px; line-height:16px; letter-spacing:-0.5px; background:url('../image/icn_dot01.gif') 0 14px no-repeat;}

@media all and (max-width:479px) {
  .main-saas {position:relative; width:100%; height:auto;}
  .main-saas > div {position:relative; top:0; left:0; width:90%; margin:0 auto; padding:80px 0;}
  .main-saas > div > h2 {font-size:30px; line-height:40px; letter-spacing:-1.5px;}
  .main-saas > div > h3 {font-size:16px; line-height:24px;}
  .main-saas > div > ul {flex-wrap:wrap; margin-top:50px;}
  .main-saas > div > ul > li {width:100%; margin:10px 0;}
  .main-saas > div > ul > li > h2 {padding:20px; font-size:20px; line-height:20px;}
  .main-saas > div > ul > li > div {padding:30px 0;}
  .main-saas > div > ul > li > div h2 {font-size:40px; line-height:40px;}
  .main-saas > div > ul > li > div h3 {margin-top:20px; font-size:16px; line-height:16px;}
  .main-saas > div > ul > li > div div {margin-top:25px; padding-top:25px;}
  .main-saas > div > ul > li > div div ul li {font-size:14px; line-height:14px;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .main-saas {position:relative; width:100%; height:auto;}
  .main-saas > div {position:relative; top:0; left:0; width:470px; margin:0 auto; padding:80px 0;}
  .main-saas > div > h2 {font-size:30px; line-height:40px; letter-spacing:-1.5px;}
  .main-saas > div > h3 {font-size:16px; line-height:24px;}
  .main-saas > div > ul {flex-wrap:wrap; margin-top:50px;}
  .main-saas > div > ul > li {width:100%; margin:10px 0;}
  .main-saas > div > ul > li > h2 {padding:20px; font-size:20px; line-height:20px;}
  .main-saas > div > ul > li > div {padding:30px 0;}
  .main-saas > div > ul > li > div h2 {font-size:40px; line-height:40px;}
  .main-saas > div > ul > li > div h3 {margin-top:20px; font-size:16px; line-height:16px;}
  .main-saas > div > ul > li > div div {margin-top:25px; padding-top:25px;}
  .main-saas > div > ul > li > div div ul li {font-size:14px; line-height:14px;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .main-saas {position:relative; width:100%; height:auto;}
  .main-saas > div {position:relative; top:0; left:0; width:750px; margin:0 auto; padding:80px 0;}
  .main-saas > div > h2 {font-size:35px; line-height:45px; letter-spacing:-1.5px;}
  .main-saas > div > h3 {font-size:16px; line-height:24px;}
  .main-saas > div > ul {flex-wrap:wrap; margin-top:50px;}
  .main-saas > div > ul > li {width:32%; margin:10px 0;}
  .main-saas > div > ul > li > h2 {padding:20px; font-size:20px; line-height:20px;}
  .main-saas > div > ul > li > div {padding:30px 0;}
  .main-saas > div > ul > li > div h2 {font-size:40px; line-height:40px;}
  .main-saas > div > ul > li > div h3 {margin-top:20px; font-size:16px; line-height:16px;}
  .main-saas > div > ul > li > div div {margin-top:25px; padding-top:25px;}
  .main-saas > div > ul > li > div div ul li {font-size:14px; line-height:14px;}
}
@media all and (min-width:992px) and (max-width:1199px) {
  .main-saas > div {width:970px; margin:-270px 0 0 -485px;}
  .main-saas > div > h2 {font-size:40px; line-height:45px; letter-spacing:-1.5px;}
}
@media all and (min-width:1200px) and (max-width:1399px) {
  .main-saas > div {width:1180px; margin:-270px 0 0 -590px;}
}
@media all and (min-width:1400px) {

}


/* 충전소 찾기 */
.main-station {position:relative; width:100%; height:100%;}
.main-station > ul {display:flex; width:100%; height:100%;}
.main-station > ul > li {width:50%; height:100%;}
.main-station > ul > li:last-child {background:url('../image/main_station_bg.jpg') right center no-repeat; background-size:cover;}
.main-station > dl {position:absolute; top:50%; left:50%; display:flex; justify-content:space-between; width:1400px; margin:-500px 0 0 -700px; padding:200px 0;}
.main-station > dl > dt {width:50%; padding-right:100px;}
.main-station > dl > dt > div {padding-top:90px;}
.main-station > dl > dt > div > p {width:30px; height:1px; margin:25px 0; background:#14B8A6;}
.main-station > dl > dt > div > h2 {font-weight:700; font-size:15px; line-height:16px; color:#111;}
.main-station > dl > dt > div > h3 {padding-right:50px; font-weight:700; font-size:45px; line-height:55px; color:#111; letter-spacing:-1px;}
.main-station > dl > dt > div > h3 span {background:linear-gradient(87deg, #14B8A6 5.79%, #14B8A6 48.59%, #14B8A6 93.47%); background-clip:text; -webkit-background-clip:text; -webkit-text-fill-color:transparent;}
.main-station > dl > dt > div > h4 {margin-top:25px; font-weight:500; font-size:18px; line-height:30px; letter-spacing:-1px;}
.main-station > dl > dt > div > h4 span {color:#14B8A6;}
.main-station > dl > dt > ul {display:flex; margin-top:50px; padding-top:50px; border-top:#e9e9e9 1px solid;}
.main-station > dl > dt > ul > li {width:50%;}
.main-station > dl > dt > ul > li h2 {font-weight:500; font-size:18px; line-height:18px; letter-spacing:-1px;}
.main-station > dl > dt > ul > li h3 {margin-top:20px; font-weight:800; font-size:45px; line-height:45px; color:#111;}
.main-station > dl > dt > p {margin-top:60px;}
.main-station > dl > dt > p a {display:inline-block; padding:13px 25px; border:#14B8A6 1px solid; border-radius:3px; background:#14B8A6;}
.main-station > dl > dt > p a span {display:inline-block; margin-right:55px; font-size:16px; line-height:16px; color:#fff; letter-spacing:-1px;}
.main-station > dl > dt > p a em {display:inline-block; font-size:18px; line-height:18px; color:#fff;}
.main-station > dl > dt > p a:hover {background:#fff;}
.main-station > dl > dt > p a:hover span {color:#14B8A6;}
.main-station > dl > dt > p a:hover em {color:#14B8A6;}

@media all and (max-width:479px) {
  .main-station {position:relative; width:100%; height:auto;}
  .main-station > ul {display:block; width:100%; height:500px;}
  .main-station > ul > li {width:100%; height:100%;}
  .main-station > ul > li:nth-child(1) {display:none;}
  .main-station > dl {position:relative; top:0; left:0; width:90%; margin:0 auto; padding:80px 0;}
  .main-station > dl > dt {width:100%; padding-right:0;}
  .main-station > dl > dt > div {padding-top:0;}
  .main-station > dl > dt > div > h2 {font-size:14px; line-height:14px;}
  .main-station > dl > dt > div > h3 {padding-right:0; font-size:30px; line-height:35px;}
  .main-station > dl > dt > div > h4 {margin-top:25px; font-size:16px; line-height:24px;}
  .main-station > dl > dt > ul {display:flex; margin-top:40px; padding-top:40px;}
  .main-station > dl > dt > ul > li {width:50%;}
  .main-station > dl > dt > ul > li h2 {font-size:16px; line-height:16px;}
  .main-station > dl > dt > ul > li h3 {margin-top:20px; font-size:35px; line-height:35px;}
  .main-station > dl > dt > p {margin-top:40px;}
  .main-station > dl > dt > p a {padding:10px 25px;}
  .main-station > dl > dt > p a span {font-size:14px; line-height:14px;}
  .main-station > dl > dt > p a em {font-size:16px; line-height:16px;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .main-station {position:relative; width:100%; height:auto;}
  .main-station > ul {display:block; width:100%; height:500px;}
  .main-station > ul > li {width:100%; height:100%;}
  .main-station > ul > li:nth-child(1) {display:none;}
  .main-station > dl {position:relative; top:0; left:0; width:470px; margin:0 auto; padding:80px 0;}
  .main-station > dl > dt {width:100%; padding-right:0;}
  .main-station > dl > dt > div {padding-top:0;}
  .main-station > dl > dt > div > h2 {font-size:14px; line-height:14px;}
  .main-station > dl > dt > div > h3 {padding-right:0; font-size:30px; line-height:35px;}
  .main-station > dl > dt > div > h4 {margin-top:25px; font-size:16px; line-height:24px;}
  .main-station > dl > dt > ul {display:flex; margin-top:40px; padding-top:40px;}
  .main-station > dl > dt > ul > li {width:50%;}
  .main-station > dl > dt > ul > li h2 {font-size:16px; line-height:16px;}
  .main-station > dl > dt > ul > li h3 {margin-top:20px; font-size:35px; line-height:35px;}
  .main-station > dl > dt > p {margin-top:40px;}
  .main-station > dl > dt > p a {padding:10px 25px;}
  .main-station > dl > dt > p a span {font-size:14px; line-height:14px;}
  .main-station > dl > dt > p a em {font-size:16px; line-height:16px;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .main-station {position:relative; width:100%; height:auto;}
  .main-station > ul {display:block; width:100%; height:500px;}
  .main-station > ul > li {width:100%; height:100%;}
  .main-station > ul > li:nth-child(1) {display:none;}
  .main-station > dl {position:relative; top:0; left:0; width:750px; margin:0 auto; padding:80px 0;}
  .main-station > dl > dt {width:100%; padding-right:0;}
  .main-station > dl > dt > div {padding-top:0;}
  .main-station > dl > dt > div > h2 {font-size:14px; line-height:14px;}
  .main-station > dl > dt > div > h3 {padding-right:0; font-size:35px; line-height:40px;}
  .main-station > dl > dt > div > h4 {margin-top:25px; font-size:16px; line-height:24px;}
  .main-station > dl > dt > ul {display:flex; margin-top:40px; padding-top:40px;}
  .main-station > dl > dt > ul > li {width:50%;}
  .main-station > dl > dt > ul > li h2 {font-size:16px; line-height:16px;}
  .main-station > dl > dt > ul > li h3 {margin-top:20px; font-size:40px; line-height:40px;}
  .main-station > dl > dt > p {margin-top:50px;}
  .main-station > dl > dt > p a {padding:10px 25px;}
  .main-station > dl > dt > p a span {font-size:14px; line-height:14px;}
  .main-station > dl > dt > p a em {font-size:16px; line-height:16px;}
}
@media all and (min-width:992px) and (max-width:1199px) {
  .main-station > dl {width:970px; margin:-500px 0 0 -485px;}
  .main-station > dl > dt > div > h3 {padding-right:0; font-size:40px; line-height:45px;}
  .main-station > dl > dt > ul > li h3 {margin-top:20px; font-size:40px; line-height:40px;}
  .main-station > dl > dd {padding-right:50px;}
}
@media all and (min-width:1200px) and (max-width:1399px) {
  .main-station > dl {width:1180px; margin:-480px 0 0 -590px;}
  .main-station > dl > dd {padding-right:50px;}
}
@media all and (min-width:1400px) {

}


/* 소식 */
.main-news {position:relative; width:100%; height:100%; background:url('../image/main_news_bg.jpg') no-repeat; background-size:cover;}
.main-news > dl {display:flex; justify-content:space-between; position:absolute; top:50%; left:50%; width:1400px; margin:-180px 0 0 -700px;}
.main-news > dl > dt {width:30%;}
.main-news > dl > dt > div {padding-top:70px;}
.main-news > dl > dt > div > p {width:30px; height:1px; margin:25px 0; background:#14B8A6;}
.main-news > dl > dt > div > h2 {font-weight:700; font-size:15px; line-height:16px; color:#111;}
.main-news > dl > dt > div > h3 {font-weight:700; font-size:45px; line-height:45px; color:#111; letter-spacing:-1px;}
.main-news > dl > dt > div > h3 span {color:#14B8A6;}
.main-news > dl > dt > div > h4 {margin-top:30px; font-weight:500; font-size:18px; line-height:28px; letter-spacing:-1px;}
.main-news > dl > dt > div > div {margin-top:50px;}
.main-news > dl > dt > div > div a {display:flex; align-items:center; cursor:pointer;}
.main-news > dl > dt > div > div a em {display:flex; justify-content:center; align-items:center; width:60px; height:60px; font-size:22px; line-height:22px; color:#fff; border-radius:50%; background:#14B8A6;}
.main-news > dl > dt > div a span {display:inline-block; margin-left:15px; font-size:15px; line-height:16px; color:#555;}
.main-news > dl > dd {position:relative; width:65%;}
.main-news > dl > dd .swiper-area {overflow:hidden;}
.main-news > dl > dd .swiper-area .swiper-wrapper .swiper-slide {border-radius:10px; background:#f5f5f5; cursor:pointer; overflow:hidden;}
.main-news > dl > dd .swiper-area .swiper-wrapper .swiper-slide > p {height:210px; background:#000; overflow:hidden;}
.main-news > dl > dd .swiper-area .swiper-wrapper .swiper-slide > p > img {opacity:1; transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transition:all 0.4s ease-in-out;}
.main-news > dl > dd .swiper-area .swiper-wrapper .swiper-slide > p > img:hover {opacity: 0.5; transform:scale(1.1); -webkit-transform:scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1);}
.main-news > dl > dd .swiper-area .swiper-wrapper .swiper-slide > div {padding:30px 20px;}
.main-news > dl > dd .swiper-area .swiper-wrapper .swiper-slide > div h2 {font-weight:600; font-size:17px; line-height:18px; color:#222; letter-spacing:-0.5px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.main-news > dl > dd .swiper-area .swiper-wrapper .swiper-slide > div h3 {height:80px; margin-top:20px; padding-top:20px; font-size:14px; line-height:20px; letter-spacing:-0.5px; border-top:#e9e9e9 1px solid; overflow:hidden;}
.main-news > dl > dd .swiper-area .swiper-wrapper .swiper-slide > div h4 {margin-top:30px; font-size:12px; line-height:12px;}
.main-news > dl > dd .swiper-button-next {right:-70px; width:50px; height:50px; margin-top:-10px; background:url('../image/icn_arr_right.svg') right top no-repeat; background-size:contain; z-index:999;}
.main-news > dl > dd .swiper-button-prev {left:-70px; width:50px; height:50px; margin-top:-10px; background:url('../image/icn_arr_left.svg') no-repeat; background-size:contain; z-index:999;}
.main-news > dl > dd .swiper-button-next::after, .swiper-button-prev::after {display:none;}

@media all and (max-width:479px) {
  .main-news {height:auto;}
  .main-news > dl {flex-wrap:wrap; position:relative; top:0; left:0; width:90%; margin:0 auto; padding:80px 0;}
  .main-news > dl > dt {align-items:top; width:100%;}
  .main-news > dl > dt > div {padding-top:0;}
  .main-news > dl > dt > div > h2 {font-size:14px; line-height:14px;}
  .main-news > dl > dt > div > h3 {font-size:30px; line-height:35px;}
  .main-news > dl > dt > div > h4 {margin-top:20px; padding-right:50px; font-size:16px; line-height:24px;}
  .main-news > dl > dt > div > div {margin-top:25px;}
  .main-news > dl > dt > div > div a em {width:45px; height:45px;}
  .main-news > dl > dt > div > div a span {margin-left:10px; font-size:14px; line-height:14px;}
  .main-news > dl > dd {width:100%; margin-top:60px;}
  .main-news > dl > dd .swiper-button-next {right:-15px; width:35px; height:35px; margin-top:-25px;}
  .main-news > dl > dd .swiper-button-prev {left:-15px; width:35px; height:35px; margin-top:-25px;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .main-news {height:auto;}
  .main-news > dl {flex-wrap:wrap; position:relative; top:0; left:0; width:470px; margin:0 auto; padding:80px 0;}
  .main-news > dl > dt {align-items:top; width:100%;}
  .main-news > dl > dt > div {padding-top:0;}
  .main-news > dl > dt > div > h2 {font-size:14px; line-height:14px;}
  .main-news > dl > dt > div > h3 {font-size:30px; line-height:35px;}
  .main-news > dl > dt > div > h4 {margin-top:20px; padding-right:50px; font-size:16px; line-height:24px;}
  .main-news > dl > dt > div > div {margin-top:25px;}
  .main-news > dl > dt > div > div a em {width:45px; height:45px;}
  .main-news > dl > dt > div > div a span {margin-left:10px; font-size:14px; line-height:14px;}
  .main-news > dl > dd {width:100%; margin-top:60px;}
  .main-news > dl > dd .swiper-button-next {right:-15px; width:35px; height:35px; margin-top:-25px;}
  .main-news > dl > dd .swiper-button-prev {left:-15px; width:35px; height:35px; margin-top:-25px;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .main-news > dl {width:750px; margin:-180px 0 0 -375px;}
  .main-news > dl > dt > div > h2 {font-size:16px; line-height:16px;}
  .main-news > dl > dt > div > h3 {font-size:35px; line-height:40px;}
  .main-news > dl > dt > div > h4 {margin-top:20px; padding-right:0; font-size:16px; line-height:24px;}
  .main-news > dl > dt > div > div {margin-top:35px;}
  .main-news > dl > dt > div > div a em {width:45px; height:45px;}
  .main-news > dl > dt > div > div a span {margin-left:10px; font-size:14px; line-height:14px;}
  .main-news > dl > dd .swiper-area .swiper-wrapper .swiper-slide > p {height:170px;}
  .main-news > dl > dd .swiper-button-next {right:-15px; width:35px; height:35px; margin-top:-25px;}
  .main-news > dl > dd .swiper-button-prev {left:-15px; width:35px; height:35px; margin-top:-25px;}
}
@media all and (min-width:992px) and (max-width:1199px) {
  .main-news > dl {width:970px; margin:-180px 0 0 -485px;}
  .main-news > dl > dt > div {padding-top:50px;}
  .main-news > dl > dt > div > h3 {font-size:40px; line-height:40px;}
  .main-news > dl > dd .swiper-button-next {right:-15px; width:35px; height:35px; margin-top:-25px;}
  .main-news > dl > dd .swiper-button-prev {left:-15px; width:35px; height:35px; margin-top:-25px;}
}
@media all and (min-width:1200px) and (max-width:1399px) {
  .main-news > dl {width:1180px; margin:-180px 0 0 -590px;}
  .main-news > dl > dt > div {padding-top:40px;}
  .main-news > dl > dd .swiper-area .swiper-wrapper .swiper-slide > p {height:170px;}
  .main-news > dl > dd .swiper-button-next {right:-15px; width:35px; height:35px; margin-top:-25px;}
  .main-news > dl > dd .swiper-button-prev {left:-15px; width:35px; height:35px; margin-top:-25px;}
}
@media all and (min-width:1400px) {

}


/* 상담문의 */
.main-inquiry {position:relative; width:100%; height:100%; background:#000;}
.main-inquiry > video {height:100%; width:100%; object-fit:cover; opacity:0.8;}
/* .main-inquiry > h2 {position:absolute; top:0; width:100%; height:150px; background:linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));}
.main-inquiry > h3 {position:absolute; bottom:0; width:100%; height:150px; background:linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));} */
.main-inquiry > div {position:absolute; top:50%; left:50%; width:1400px; margin:-140px 0 0 -700px; text-align:center;}
.main-inquiry > div h2 {font-weight:600; font-size:40px; line-height:50px; color:#fff; letter-spacing:-2px;}
.main-inquiry > div h2 span {background:linear-gradient(245deg, #00FF7A 0%, #F6E801 100%); background-clip:text; -webkit-background-clip:text; -webkit-text-fill-color:transparent;}
.main-inquiry > div h3 {margin-top:15px; font-weight:250; font-size:30px; line-height:40px; color:#fff; letter-spacing:-2px;}
.main-inquiry > div div {margin-top:60px;}
.main-inquiry > div div a {display:inline-block; width:250px; padding:20px 15px; font-weight:500; font-size:20px; line-height:20px; color:#fff; letter-spacing:-0.5px; border:#fff 2px solid; border-radius:5px;}
.main-inquiry > div div a:hover {color:#222; border:#fff 2px solid; background:#fff;}

@media all and (max-width:479px) {
  .main-inquiry {width:100%;}
  .main-inquiry > div {width:90%; margin:-110px 0 0 -45%;}
  .main-inquiry > div h2 {font-size:24px; line-height:30px; letter-spacing:-1px;}
  .main-inquiry > div h3 {margin-top:10px; font-size:24px; line-height:30px;}
  .main-inquiry > div div {margin-top:40px;}
  .main-inquiry > div div a {padding:15px 15px; font-weight:500; font-size:16px; line-height:16px;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .main-inquiry {width:100%;}
  .main-inquiry > div {width:470px; margin:-110px 0 0 -235px;}
  .main-inquiry > div h2 {font-size:24px; line-height:30px; letter-spacing:-1px;}
  .main-inquiry > div h3 {margin-top:10px; font-size:24px; line-height:30px;}
  .main-inquiry > div div {margin-top:40px;}
  .main-inquiry > div div a {padding:15px 15px; font-weight:500; font-size:16px; line-height:16px;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .main-inquiry {width:100%;}
  .main-inquiry > div {width:750px; margin:-80px 0 0 -375px;}
  .main-inquiry > div h2 {font-size:30px; line-height:38px; letter-spacing:-1px;}
  .main-inquiry > div h3 {margin-top:20px; font-size:30px; line-height:30px; color:#fff; letter-spacing:-1px;}
  .main-inquiry > div div {margin-top:40px;}
  .main-inquiry > div div a {padding:15px 15px; font-weight:500; font-size:18px; line-height:18px;}
}
@media all and (min-width:992px) and (max-width:1199px) {
  .main-inquiry {width:100%;}
  .main-inquiry > div {width:970px; margin:-120px 0 0 -485px;}
}
@media all and (min-width:1200px) and (max-width:1399px) {
  .main-inquiry {width:100%; height:750px;}
  .main-inquiry > div {width:1180px; margin:-120px 0 0 -590px;}
}
@media all and (min-width:1400px) {

}