
/* 20250321 cis add 206~236*/

/* 메뉴 아이템 기본 스타일 */
.menu-item {
    text-decoration: none; /* 텍스트 장식 제거 */
    color: #111; /*기본 텍스트 색상 설정*/ 
    padding: 5px 10px; /* 패딩 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    display: block;
}
/* hover된 메뉴 아이템 스타일 */
.menu-item.hover {
    color: #ef8779; /* hover 시 텍스트 색상 변경 */
    border-radius: 4px; /* 모서리 둥글게 */
}

 /* 메뉴 아이템 활성화(active) 상태 스타일 */
 .menu-item.active {
    color: #ef8779; /* hover 시 텍스트 색상 변경 */
    font-weight: bold;
    border-radius: 4px;
  }
 
  
  /* 메뉴 리스트 스타일 */
  dd.mb-0 ul.mb-0 {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* 메뉴 리스트 아이템 */
  dd.mb-0 ul.mb-0 li {
    margin-bottom: 4px;
  }
  
  .toolmodal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 99998;
    overflow: hidden;
  }
  
 .tool-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 99998; /* Below modal content */
  }
  
  .tool-modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 1100px;
    display: flex; 
    flex-direction: column;
    overflow: hidden; 
    max-width: 900px;
    max-height: 90vh;
    min-width: 300px; 
    min-height: 400px;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  
  }
  
  .tool-modal-header {
    height: 48px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin: 0;
  }
  
  .modal-title {
    position: relative;  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .tool-close-button {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 4px 8px;
  }
  
 .tool-modal-body {
    padding: 20px; 
    overflow-y: auto;
    flex-grow: 1;
    display: flex; 
    height: 100%;
    min-height: 300px;
    overflow: auto;
  }
  
  .tool-modal-body iframe {
    flex: 1;
    display: block; 
    width: 100%;
    height: 100%;
    border: none;
    min-height: 300px;
  }
