<script>
    $(async function () {
        const $modalWrap = $(".modal-pop-wrapper");
        const modalUrl = $modalWrap.attr("data-url");
        const pNo = getUrlParameter("no", modalUrl);

        // 모달 타이틀
        $modalWrap.find(".modal-title").text("제휴 상세");

        // 정보
        partnership_detail(pNo);
    });
</script>

<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div>
        <div class="mb-3">
            <label for="title" class="col-form-label">제목</label>
            <input type="text" class="form-control" id="title" readonly />
        </div>

        <div class="mb-3">
            <label for="content" class="col-form-label">내용</label>
            <textarea type="text" class="form-control" id="content" readonly></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" data-bs-dismiss="modal">닫기</button>
</div>
