<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="title" content="토디-비밀번호재설정" />
        <meta name="description" content="원스톱 부동산 종합 플랫폼 서비스, 간단한 입력만으로 부동산 정보와 분석, 금융을 한 눈에 빠르고 편한 원스톱 토탈 서비스 지원" />
        <meta name="keywords" content="토디,토디부동산,토디플랫폼,tody,tody부동산,tody플랫폼,부동산정보,부동산, 부동산앱, 부동산어플, 상가,건물, 빌딩, 공장, 창고, 토지, 매물,아파트, 주상복합, 오피스텔, 단독, 다가구, 다세대, 빌라,전세, 월세, 매매, 전월세, 임대, 실거래가, 부동산중개, 공인중개사" />
        <meta name="robots" content="index, follow" />
        <link rel="canonical" href="http://" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="토디- 부동산 종합 플랫폼 서비스" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://" />
        <meta property="og:title" content="토디-비밀번호재설정" />
        <!-- <meta property="og:image" content="../../images/common/meta_img.jpg"> -->
        <meta property="og:description" content="원스톱 부동산 종합 플랫폼 서비스, 간단한 입력만으로 부동산 정보와 분석, 금융을 한 눈에 빠르고 편한 원스톱 토탈 서비스 지원" />
        <title>토디-비밀번호재설정</title>
        <link rel="shortcut icon" href="/front/assets/image/favicon.ico" />
        <!-- Bootstrap Css -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Sweet Alert css-->
        <link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
        <!-- font Css -->
        <link href="/assets/css/fonts.css" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- custom -->
        <link href="/front/assets/css/style.css" rel="stylesheet" />
        <!-- modal Css -->
        <link href="/assets/css/modal.css" rel="stylesheet" type="text/css" />
        <!-- menu Css -->
        <link href="/front/assets/css/mystyle.css" rel="stylesheet" type="text/css" />
        <!-- jQuery UI 기본 테마 CSS -->
        <link href="/assets/css/jquery-ui.css" rel="stylesheet" > <!-- 다운로드한 파일 경로 -->
    </head>
    <body>
        <div class="wrap">
            <!-- 전체모션 -->
            <div class="visual-bg">
                <div class="panel"></div>
            </div>
            <!-- 전체모션 끝 -->

            <!-- PC - 상단 -->
            <header class="header"></header>
            <!-- PC - 상단 끝 -->

            <!-- MOBILE - 상단/메뉴/하단영역 -->
            <div class="mobile">
                <!-- MOBILE - 상단영역 -->
                <div class="mobile-header">
                    <dl>
                        <dt>
                            <a href="/index.html"><img src="/front/assets/image/logo.svg" height="20" alt="" title="" /></a>
                        </dt>
                        <dd>
                            <a href="javascript:void(0);" id="mobileSearchOpen"><i class="fa-light fa-magnifying-glass"></i></a>
                            <a href="javascript:void(0);" id="mobileMenuInfo"><i class="fa-light fa-bars"></i></a>

                            <!-- 검색영역 -->
                            <div class="mh-search">
                                <button id="mobileSearchClose"><i class="fa-regular fa-xmark"></i></button>
                                <input type="text" id="search_input_mobile" name="" placeholder="검색하세요" autocomplete="off" />
                                <button type="button" id="search_btn_mobile"><i class="fa-regular fa-magnifying-glass"></i></button>

                                <div id="search_result_box_mobile" class="mhs-box">
                                    <ul id="placesListMobile"></ul>
                                    <!-- <div id="pagination" class="mcsb-pagination"></div> -->
                                </div>
                            </div>
                            <!-- 검색영역 끝 -->
                        </dd>
                    </dl>
                </div>
                <!-- MOBILE - 상단영역 끝 -->

                <!-- MOBILE - 하단영역 -->
                <div class="mobile-footer">
                    <ul>
                        <li onclick="location.href='/front/views/realPrice/realPrice.html';">
                            <p><img src="/front/assets/image/footer_menu01.svg" alt="실거래가" title="실거래가" /></p>
                            <div>실거래가</div>
                        </li>
                        <li onclick="location.href='/front/views/sell/sell.html';">
                            <p><img src="/front/assets/image/footer_menu02.svg" alt="매물정보" title="매물정보" /></p>
                            <div>매물정보</div>
                        </li>
                        <li onclick="location.href='/front/views/find/find_list.html';">
                            <p><img src="/front/assets/image/footer_menu03.svg" alt="삽니다" title="삽니다" /></p>
                            <div>삽니다</div>
                        </li>
                        <li onclick="location.href='/front/views/put/put_list.html';">
                            <p><img src="/front/assets/image/footer_menu04.svg" alt="팝니다" title="팝니다" /></p>
                            <div>팝니다</div>
                        </li>
                        <li onclick="location.href='/front/views/finance/finance.html';">
                            <p><img src="/front/assets/image/footer_menu05.svg" alt="금융지원" title="금융지원" /></p>
                            <div>금융지원</div>
                        </li>
                        <li onclick="location.href='/front/views/support/partnership_proposal_step01.html';">
                            <p><img src="/front/assets/image/footer_menu06.svg" alt="제휴및제안" title="제휴및제안" /></p>
                            <div>제휴및제안</div>
                        </li>
                    </ul>
                </div>
                <!-- MOBILE - 하단영역 끝 -->

                <!-- MOBILE - 메뉴 및 정보 -->
                <div class="mobile-menu-info">
                    <div class="mmi-info">
                        <dl>
                            <dt><span class="user-name-type">반갑습니다.</span></dt>
                            <dd>
                                <a href="javascript:void(0);"><i class="fa-light fa-xmark"></i></a>
                            </dd>
                        </dl>
                    </div>
                    <div class="mmi-tab-btn">
                        <a href="/front/views/member/join_step01.html" class="active">회원가입</a>
                        <a href="/front/views/00-include/login.html" class="modal-open-btn login-before">로그인</a>
                    </div>
                    <div class="mmi-menu">
                        <a href="/front/views/realPrice/realPrice.html">
                            <span><img src="/front/assets/image/footer_menu01.svg" alt="실거래가" title="" /> 실거래가</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                        <a href="/front/views/sell/sell.html">
                            <span><img src="/front/assets/image/footer_menu02.svg" alt="매물정보" title="" /> 매물정보</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                        <a href="/front/views/find/find_list.html">
                            <span><img src="/front/assets/image/footer_menu03.svg" alt="삽니다" title="" /> 삽니다</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                        <a href="/front/views/put/put_list.html">
                            <span><img src="/front/assets/image/footer_menu04.svg" alt="팝니다" title="" /> 팝니다</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                        <a href="/front/views/finance/finance.html">
                            <span><img src="/front/assets/image/footer_menu05.svg" alt="금융지원" title="" /> 금융지원</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                        <a href="/front/views/support/partnership_proposal_step01.html">
                            <span><img src="/front/assets/image/footer_menu06.svg" alt="제휴및제안" title="" /> 제휴및제안</span>
                            <em><i class="fa-light fa-angle-right"></i></em>
                        </a>
                    </div>
                    <div class="mmi-support">
                        <a href="/front/views/support/notice_list.html">고객센터</a>
                    </div>
                    <div class="mmi-site">
                        <select name="" id="selectSiteMobile" class="form-select select-box middle">
                            <option value="">사이트</option>
                            <option value="">사이트</option>
                            <option value="">사이트</option>
                        </select>
                    </div>
                    <div class="mmi-tools">
                        <select name="" id="selectToolsMobile" class="form-select select-box middle">
                            <option value="">사이트</option>
                        </select>
                    </div>
                    <div class="mmi-footer">
                        <a href="javascript:void(0);"><i class="fa-light fa-angle-right"></i> 이용약관</a>
                        <a href="javascript:void(0);"><i class="fa-light fa-angle-right"></i> 개인정보취급방침</a>
                    </div>
                </div>
                <div class="mobile-menu-info-bg">&nbsp;</div>
                <!-- MOBILE - 메뉴 및 정보 끝 -->
            </div>
            <!-- MOBILE - 상단/메뉴/하단영역 끝 -->

            <!-- 본문내용 -->
            <div class="contents">
                <!-- 회원구분선택 -->
                <form class="join-member-type needs-validation" novalidate>
                    <ul class="justify-content-center">
                        <li>
                            <h3>비밀번호 재설정</h3>
                            <div class="row gap-3">
                                <input id="new_password" type="password" placeholder="새 비밀번호 입력" class="form-control input-box w100p" minlength="8" maxlength="12" required />

                                <input id="confirm_password" type="password" placeholder="새 비밀번호 재입력" class="form-control input-box w100p" minlength="8" maxlength="12" required />

                                <button id="reset_btn" type="submit" class="btn-default bg-violet2 w100p">재설정 하기</button>
                            </div>
                        </li>
                    </ul>
                </form>
                <!-- 회원구분선택 끝 -->

                <!-- 모달 - 인증번호 -->
                <div class="modal-area" id="modalCompletion">
                    <dl class="ma-header">
                        <dt>재설정완료</dt>
                        <dd data-izimodal-close=""><i class="fa-light fa-xmark"></i></dd>
                    </dl>
                    <div class="ma-completion">
                        <!-- <p id="lottie"></p> -->
                        <div>
                            <h2>비밀번호가 <span>재설정</span> 되었습니다.</h2>
                        </div>
                    </div>
                    <!-- <div class="ma-btn">
						<a href="#" class="btn-default-m bg-gray w100" data-izimodal-close=""><i class="fa-light fa-xmark"></i> 닫기</a>
					</div> -->
                </div>
                <!-- 모달 - 인증번호 끝 -->
            </div>
            <!-- 본문내용 끝 -->

            <!-- 하단영역 -->
            <footer class="footer"></footer>
            <!-- 하단영역 끝 -->
        </div>

        <!-- JAVASCRIPT -->
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/front/assets/js/jquery-3.3.1.js"></script>
        <script src="/front/assets/js/jquery-ui.js"></script>
        <script src="/front/assets/js/easing.js"></script>

        <script src="/front/assets/js/gsap.min.js"></script>
        <script src="/front/assets/js/ScrollTrigger.min.js"></script>
        <script src="/front/assets/js/ScrollToPlugin.min.js"></script>
        <script src="/front/assets/js/SmoothScroll.min.js"></script>
        <script src="/front/assets/js/countup.js"></script>
        <script src="/front/assets/js/waypoints.js"></script>
        <script src="/front/assets/js/aos.js"></script>
        <script src="/front/assets/js/iziModal.js"></script>
        <script src="/front/assets/js/swiper.js"></script>
        <script src="/front/assets/js/multiSelect.js"></script>
        <script src="/front/assets/js/nouislider.js"></script>
        <script src="/front/assets/js/lottie.min.js"></script>
        <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>

        <!-- custom -->
        <script src="/front/assets/js/common.js"></script>
        <script src="/front/js/00-include/layout.js"></script>
        <script src="/front/js/00-include/functions.js"></script>
        <script src="/front/js/00-include/validation.js"></script>
        <script src="/front/js/00-include/common.js"></script>
        <script src="/front/js/00-include/layer_popup.js"></script>
        <script src="/front/js/member/find_pw_2.js"></script>
        <!-- active menu를 위해 추가    -->
        <script src="/front/assets/js/myscript.js"></script>
        <!-- 방문자 통계를 위해 추가 -->
        <script src="/front/js/visit/client.js"></script>

        <!-- 계산기 menu를 위해 추가    -->
        <div id="toolModal" class="toolmodal" style="display: none;">
            <div class="tool-modal-overlay"></div>
            <div class="tool-modal-content"> <!-- 요소가 draggable 대상입니다 -->
                <div class="tool-modal-header">
                    <div class="modal-title">
                      <span class="modal-label">계산기</span>
                      <button class="tool-close-button" aria-label="닫기">X</button>
                    </div>
                </div>
                <div class="tool-modal-body">
                    <!-- 여기에 동적으로 iframe이 삽입될 예정 -->
                </div>
                <!-- 필요하다면 푸터 등 다른 내용 추가 -->
            </div>
        </div>
        <script>
            // 모달 - 인증번호 발송 //
            $("#modalCompletion").iziModal({ width: "470px" });
            $("#modalCompletion").iziModal("setTop", 70);
            $("#modalCompletion").iziModal("setBottom", 70);
        </script>
        <script src="/front/assets/lottie/completion.js"></script>
    </body>
</html>
