@import url("fonts.css");
:root {
    --vz-body-font-family: "Pretendard", "나눔고딕", NanumGothic, "Nanum Gothic", "돋움", Dotum, Arial, sans-serif;
}
body,
* {
    font-family: var(--vz-body-font-family);
}
:is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
    font-family: var(--vz-body-font-family);
}
.z-0 {
    z-index: 0;
}
.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 2;
}
.z-3 {
    z-index: 3;
}
.z-4 {
    z-index: 4;
}
.z-5 {
    z-index: 5;
}

/* preloader */
#preloader {
    background-color: rgba(var(--vz-card-bg-custom), 0.5); /* 50% 투명도 */
}

/* button */
.btn {
    box-shadow: none;
}
.search-box {
    position: relative;
}
.search-input {
    padding-left: 2rem;
}
.search-button {
    position: absolute;
    top: 50%;
    left: 0.625rem;
    transform: translate(0, -50%);

    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));

    fill: #f1f5f9;

    width: 1rem;
    height: 1rem;

    display: inline-block;
}
.plus-button:hover i {
    color: #405189;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
/* .pagination {
    border-color: var(--vz-pagination-border-color);
} */

.dt-scroll-body {
    min-height: 400px;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.choices {
    margin-bottom: 0;
}

/* noUiSlider */
.noUi-horizontal .noUi-origin > .noUi-tooltip {
    bottom: -40px;
}
