<dl>
    <dt>
        <a href="/index.html"><img src="/front/assets/image/logo.svg" height="35" alt="" title="" /></a>
    </dt>
    <dd class="mb-0">
        <ul class="mb-0">
            <li>
                <a href="/front/views/realPrice/realPrice.html" class="menu-item">실거래가</a>
            </li>
            <li>
                <a href="/front/views/sell/sell.html" class="menu-item">매물정보</a>
            </li>
            <li>
                <a href="/front/views/find/find_list.html" class="menu-item">삽니다</a>
            </li>
            <li>
                <a href="/front/views/put/put_list.html" class="menu-item">팝니다</a>
            </li>
            <li>
                <a href="/front/views/finance/finance.html" class="menu-item">금융지원</a>
            </li>
            <li>
                <a href="/front/views/support/partnership_proposal_step01.html" class="menu-item">제휴및제안</a>
            </li>
        </ul>
    </dd>
    <dt id="login_header">
        <!-- 로그인 전 -->
        <!-- <a href="/front/views/00-include/login.html" class="modal-open-btn login-before">로그인</a>
        <em class="login-before">|</em>
        <a href="/front/views/member/join_step01.html" class="login-before">회원가입</a> -->
        <!-- 로그인 전 끝 -->

        <!-- 로그인 후 -->
        <!-- <div class="h-myInfo">
            <a href="javascript:void(0);"> 홍길동(일반회원) 님 <i class="fa-light fa-chevron-down"></i> </a>
            <div class="h-my-menu">
                <a href="/front/views/mypage/mypage.html">
                    <span>나의정보</span>
                    <i class="fa-light fa-angle-right"></i>
                </a>
                <a href="javascript:void(0);">
                    <span>로그아웃</span>
                    <i class="fa-light fa-angle-right"></i>
                </a>
            </div>
        </div> -->
        <!-- 로그인 후 끝 -->
        
        <span id="login_area">
           <!--이 부분에 JavaScript로 로그인/로그아웃 관련 내용이 들어갑니다. -->
        </span>
        
        <em>|</em>
        <div class="custom">
            <a href="/front/views/support/notice_list.html" class="login-before">고객센터</a>
        </div>
        
        <em>|</em>

        <!-- 검색영역 -->
        <!-- <button id="headerSearchOpen"><i class="fa-regular fa-magnifying-glass"></i></button>
        <div class="h-search">
            <button id="headerSearchClose"><i class="fa-regular fa-xmark"></i></button>
            <input type="text" name="" placeholder="검색하세요" />
            <button><i class="fa-regular fa-magnifying-glass"></i></button>
        </div> -->
        <!-- 검색영역 끝 -->

        <!-- 관련사이트 -->
        <div class="h-relatedSite">
            <a href="javascript:void(0);">관련사이트<i class="fa-light fa-chevron-down"></i> </a>
            <div class="h-realted-menu">
                <!--
                <a class="related-site-url" href="/front/views/mypage/mypage.html">
                    <span>나의정보</span>
                    <i class="fa-light fa-angle-right"></i>
                </a>
                <a id="logout_btn" href="javascript:void(0);" onclick="logout()">
                    <span>로그아웃</span>
                    <i class="fa-light fa-angle-right"></i>
                </a>
                -->
            </div>
        </div>
        <em>|</em>
        <div class="h-tools">
            <a href="javascript:void(0);">계산기<i class="fa-light fa-chevron-down"></i> </a>
            <div class="h-tool-menu">
            </div>
        </div>
        <!-- <select name="" id="selectSite" class="multi-select-container form-select">
            <option value="">사이트</option>
            <option value="">사이트</option>
            <option value="">사이트</option>
        </select> -->
        <!-- 관련사이트 끝 -->
    </dt>
</dl>
