<!-- MOBILE - 상단영역 -->
<div class="mobile-header">
    <dl>
        <dt>
            <a href="/index.html"><img src="/front/assets/image/logo.svg" height="20" alt="" title="" /></a>
        </dt>
        <dd>
            <a href="javascript:void(0);" id="mobileSearchOpen"><i class="fa-light fa-magnifying-glass"></i></a>
            <a href="javascript:void(0);" id="mobileMenuInfo"><i class="fa-light fa-bars"></i></a>

            <!-- 검색영역 -->
            <div class="mh-search">
                <button id="mobileSearchClose"><i class="fa-regular fa-xmark"></i></button>
                <input type="text" id="search_input_mobile" name="" placeholder="검색하세요" autocomplete="off" />
                <button type="button" id="search_btn_mobile"><i class="fa-regular fa-magnifying-glass"></i></button>

                <div id="search_result_box_mobile" class="mhs-box">
                    <ul id="placesListMobile"></ul>
                    <!-- <div id="pagination" class="mcsb-pagination"></div> -->
                </div>
            </div>
            <!-- 검색영역 끝 -->
        </dd>
    </dl>
</div>
<!-- MOBILE - 상단영역 끝 -->

<!-- MOBILE - 하단영역 -->
<div class="mobile-footer">
    <ul>
        <li onclick="location.href='/front/views/realPrice/realPrice.html';">
            <p><img src="/front/assets/image/footer_menu01.svg" alt="실거래가" title="실거래가" /></p>
            <div>실거래가</div>
        </li>
        <li onclick="location.href='/front/views/sell/sell.html';">
            <p><img src="/front/assets/image/footer_menu02.svg" alt="매물정보" title="매물정보" /></p>
            <div>매물정보</div>
        </li>
        <li onclick="location.href='/front/views/findput/findput_list.html';">
            <p><img src="/front/assets/image/footer_menu03.svg" alt="사고팔고" title="사고팔고" /></p>
            <div>사고팔고</div>
        </li>
        <!--
        <li onclick="location.href='/front/views/put/put_list.html';">
            <p><img src="/front/assets/image/footer_menu04.svg" alt="팝니다" title="팝니다" /></p>
            <div>팝니다</div>
        </li>
        -->
        <li onclick="location.href='/front/views/finance/finance.html';" style="display: none;"> <!-- 20260116 임시 표시 제한-->
            <p><img src="/front/assets/image/footer_menu05.svg" alt="금융지원" title="금융지원" /></p>
            <div>금융지원</div>
        </li>
        <li onclick="location.href='/front/views/support/partnership_proposal_step01.html';">
            <p><img src="/front/assets/image/footer_menu06.svg" alt="제휴및제안" title="제휴및제안" /></p>
            <div>제휴및제안</div>
        </li>
    </ul>
</div>
<!-- MOBILE - 하단영역 끝 -->

<!-- MOBILE - 메뉴 및 정보 -->
<div class="mobile-menu-info">
    <div class="mmi-info">
        <dl>
            <dt><span class="user-name-type">반갑습니다.</span></dt>
            <dd>
                <a href="javascript:void(0);"><i class="fa-light fa-xmark"></i></a>
            </dd>
        </dl>
    </div>
    <div class="mmi-tab-btn">
        <a href="/front/views/member/join_step01.html" class="active">회원가입</a>
        <a href="/front/views/00-include/login.html" class="modal-open-btn login-before">로그인</a>
    </div>
    <div class="mmi-menu">
        <a href="/front/views/realPrice/realPrice.html">
            <span><img src="/front/assets/image/footer_menu01.svg" alt="" title="" /> 실거래가</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <a href="/front/views/sell/sell.html">
            <span><img src="/front/assets/image/footer_menu02.svg" alt="" title="" /> 매물정보</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <a href="/front/views/findput/findput_list.html">
            <span><img src="/front/assets/image/footer_menu03.svg" alt="사고팔고" title="" /> 사고팔고</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <!--
        <a href="/front/views/put/put_list.html">
            <span><img src="/front/assets/image/footer_menu04.svg" alt="팝니다" title="" /> 팝니다</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        -->
        <!--
        <a href="/front/views/finance/finance.html">
            <span><img src="/front/assets/image/footer_menu05.svg" alt="" title="" /> 금융지원</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        20260116 임시삭제-->
        <a href="/front/views/support/partnership_proposal_step01.html">
            <span><img src="/front/assets/image/footer_menu06.svg" alt="" title="" /> 제휴및제안</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>  
    </div>
    <div class="mmi-support">
        <a href="/front/views/support/notice_list.html">고객센터</a>
    </div>
    <div class="mmi-site">
        <select name="" id="selectSiteMobile" class="form-select select-box middle">
            <option value="">사이트</option>
            <option value="">사이트</option>
            <option value="">사이트</option>
        </select>
    </div>
    <div class="mmi-tools">
        <select name="" id="selectToolsMobile" class="form-select select-box middle">
            <option value="">사이트</option>
        </select>
    </div>    
    <div class="mmi-footer">
        <a href="javascript:void(0);"><i class="fa-light fa-angle-right"></i> 이용약관</a>
        <a href="javascript:void(0);"><i class="fa-light fa-angle-right"></i> 개인정보취급방침</a>
    </div>
</div>
<div class="mobile-menu-info-bg"></div>
<!--<div class="mobile-menu-info-bg">&nbsp;</div>-->
<!-- MOBILE - 메뉴 및 정보 끝 -->
