<ul>
    <li onclick="location.href='/front/views/realPrice/realPrice.html';">
        <p><img src="/front/assets/image/footer_menu01.svg" alt="" title="" /></p>
        <div>실거래가/매물</div>
    </li>
    <!--
    <li onclick="location.href='/front/views/sell/sell.html';">
        <p><img src="/front/assets/image/footer_menu02.svg" alt="" title="" /></p>
        <div>매물정보</div>
    </li>
    -->
    <li onclick="location.href='/front/views/findput/findput_list.html';">
        <p><img src="/front/assets/image/footer_menu03.svg" alt="사고팔고" title="사고팔고" /></p>
        <div>사고팔고</div>
    </li>
    <!--
    <li onclick="location.href='/front/views/put/put_list.html';">
        <p><img src="/front/assets/image/footer_menu04.svg" alt="팝니다" title="팝니다" /></p>
        <div>팝니다</div>
    </li>
    -->
    <li onclick="location.href='/front/views/finance/finance.html';" style="display: none;"> <!-- 20260116 임시 표시 제한-->
        <p><img src="/front/assets/image/footer_menu05.svg" alt="" title="" /></p>
        <div>금융지원</div>
    </li>
    <li onclick="location.href='/front/views/support/partnership_proposal_step01.html';">
        <p><img src="/front/assets/image/footer_menu06.svg" alt="" title="" /></p>
        <div>제휴및제안</div>
    </li>
</ul>
