<!-- MOBILE - 상단영역 -->
<div class="mobile-header">
    <dl>
        <dt>
            <a href="/index.html"><img src="/front/assets/image/logo.svg" height="20" alt="" title="" /></a>
        </dt>
       <!-- // 토디론 
        <dt>
            <div>
                <a href="/todyloan/loanindex.html" class="mo-sublogo">
                    <span class="mo-sublogo-mark">Tody</span>
                    <div class="mo-sublogo-text">
                        <span class="mo-sublogo-main"><span style="color:blue ">토디론</span></span>
                        <span class="mo-sublogo-sub">신속 <span class="blink" style="color:red; font-weight:800">안전</span>한 금융</span>
                    </div>
                </a>
            </div>
        </dt>
        -->
        <dt>
            <!--
            <a href="/todypurchas/index.html" class="logo-wrap">
            <svg viewBox="0 0 145 30" xmlns="http://www.w3.org/2000/svg" height="20" class="mylogo">
        
                //아이콘
                <g class="icon">
                <path d="M50.8686 0H0V30H50.8686V0Z" fill="#EF8779"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M29.0735 2.79102H35.3895C41.9755 2.79102 47.3669 8.28397 47.3669 15.0001C47.3669 21.7161 41.9755 27.2091 35.3895 27.2091H23.8784V20.6292H35.3895C38.4248 20.6292 40.9092 18.0968 40.9092 15.0001C40.9092 11.9033 38.4248 9.37089 35.3895 9.37089H29.0735V2.79102Z" fill="white"/>
                <path d="M3.50146 2.79102V9.36811H11.5382V27.1618H17.9933V2.79102H3.50146Z" fill="white"/>
                <path d="M28.9724 9.36816H22.5146V27.2092H28.9724V9.36816Z" fill="white"/>
                <path d="M22.4164 2.79102H14.4424V9.36811H22.4164V2.79102Z" fill="white"/>
                </g>
        
                //텍스트
                <text class="text-main" x="54" y="13" font-size="11" font-weight="700"
                font-family="Montserrat, Pretendard, Noto Sans KR, Apple SD Gothic Neo, sans-serif"
                fill="#555">
                토디 구매대행 //[todypurchas] 
                </text>
        
                <text class="text-sub" x="54" y="27" font-size="8" font-weight="500"
                font-family="Montserrat,Pretendard, Noto Sans KR, Apple SD Gothic Neo, sans-serif"
                fill="#00A651">
                신속 정확한 써비스 //구매 대행
                </text>
        
            </svg>
            </a>
            -->
            <div>
                <a href="/todypurchas/purchasindex.html" class="mo-sublogo">
                    <span class="mo-sublogo-mark">Tody</span>
                    <div class="mo-sublogo-text">
                        <span class="mo-sublogo-main"><span style="color:blue ">건축자제구매대행</span></span>
                        <span class="mo-sublogo-sub">원자재 <span class="blink" style="color:red; font-weight:800">신용</span> 구매</span>
                    </div>
                </a>
            </div>
        </dt>
        <dd>
            <a href="javascript:void(0);" id="mobileSearchOpen"><i class="fa-light fa-magnifying-glass"></i></a>
            <a href="javascript:void(0);" id="mobileMenuInfo"><i class="fa-light fa-bars"></i></a>

            <!-- 검색영역 -->
            <div class="mh-search">
                <button id="mobileSearchClose"><i class="fa-regular fa-xmark"></i></button>
                <input type="text" id="search_input_mobile" name="" placeholder="검색하세요" autocomplete="off" />
                <button type="button" id="search_btn_mobile"><i class="fa-regular fa-magnifying-glass"></i></button>

                <div id="search_result_box_mobile" class="mhs-box">
                    <ul id="placesListMobile"></ul>
                    <!-- <div id="pagination" class="mcsb-pagination"></div> -->
                </div>
            </div>
            <!-- 검색영역 끝 -->
        </dd>

        
    </dl>
</div>
<!-- MOBILE - 상단영역 끝 -->

<!-- MOBILE - 하단영역 -->
<div class="mobile-footer">
    <ul>
        <li class="menu-v1" onclick="location.href='/front/views/realPrice/realPrice.html';">
            <p><img src="/front/assets/image/footer_menu01.svg" alt="실거래가" title="실거래가" /></p>
            <div>실거래가</div>
        </li>
        <li class="menu-v2" onclick="location.href='/front/views/realPrice/realPrice_v2.html';">
            <p><img src="/front/assets/image/footer_menu01.svg" alt="실거래가" title="실거래가" /></p>
            <div>실거래가/매물</div>
        </li>
        <li class="menu-v1" onclick="location.href='/front/views/sell/sell.html';">
            <p><img src="/front/assets/image/footer_menu02.svg" alt="매물정보" title="매물정보" /></p>
            <div>매물정보</div>
        </li>
        <!--
        <li class="menu-v2" onclick="location.href='/front/views/sell/sell_v2.html';">
            <p><img src="/front/assets/image/footer_menu02.svg" alt="매물정보" title="매물정보" /></p>
            <div>매물정보2</div>
        </li>
        -->
        <li class="menu-v1" onclick="location.href='/front/views/findput/findput_list.html';">
            <p><img src="/front/assets/image/footer_menu03.svg" alt="사고팔고" title="사고팔고" /></p>
            <div>사고팔고</div>
        </li>
        <li class="menu-v2" onclick="location.href='/front/views/findput/findput_list_v2.html';">
            <p><img src="/front/assets/image/footer_menu03.svg" alt="사고팔고" title="사고팔고" /></p>
            <div>사고팔고</div>
        </li>
        <!--
        <li onclick="location.href='/front/views/put/put_list.html';">
            <p><img src="/front/assets/image/footer_menu04.svg" alt="팝니다" title="팝니다" /></p>
            <div>팝니다</div>
        </li>
        -->
        <li onclick="location.href='/front/views/finance/finance.html';" style="display: none;"> <!-- 20260116 임시 표시 제한-->
            <p><img src="/front/assets/image/footer_menu05.svg" alt="금융지원" title="금융지원" /></p>
            <div>금융지원</div>
        </li>
        <li onclick="location.href='/front/views/support/partnership_proposal_step01.html';">
            <p><img src="/front/assets/image/footer_menu06.svg" alt="제휴및제안" title="제휴및제안" /></p>
            <div>제휴및제안</div>
        </li>
    </ul>
</div>
<!-- MOBILE - 하단영역 끝 -->

<!-- MOBILE - 메뉴 및 정보 -->
<div class="mobile-menu-info">
    <div class="mmi-info">
        <dl>
            <dt><span class="user-name-type">반갑습니다.</span></dt>
            <dd>
                <a href="javascript:void(0);"><i class="fa-light fa-xmark"></i></a>
            </dd>
        </dl>
    </div>
    <div class="mmi-tab-btn">
        <a href="/front/views/member/join_step01.html" class="active">회원가입</a>
        <a href="/front/views/00-include/login.html" class="modal-open-btn login-before">로그인</a>
    </div>
    <div class="mmi-menu">
        <a class="menu-v1" href="/front/views/realPrice/realPrice.html">
            <span><img src="/front/assets/image/footer_menu01.svg" alt="" title="" /> 실거래가</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <a class="menu-v2" href="/front/views/realPrice/realPrice_v2.html">
            <span><img src="/front/assets/image/footer_menu01.svg" alt="" title="" /> 실거래가/매물</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <a class="menu-v1" href="/front/views/sell/sell.html">
            <span><img src="/front/assets/image/footer_menu02.svg" alt="" title="" /> 매물정보</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <!--
        <a class="menu-v2" href="/front/views/sell/sell_v2.html">
            <span><img src="/front/assets/image/footer_menu02.svg" alt="" title="" /> 매물정보2</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        -->
        <a class="menu-v1" href="/front/views/findput/findput_list.html">
            <span><img src="/front/assets/image/footer_menu03.svg" alt="사고팔고" title="" /> 사고팔고</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <a class="menu-v2" href="/front/views/findput/findput_list_v2.html">
            <span><img src="/front/assets/image/footer_menu03.svg" alt="사고팔고" title="" /> 사고팔고</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <!--
        <a href="/front/views/put/put_list.html">
            <span><img src="/front/assets/image/footer_menu04.svg" alt="팝니다" title="" /> 팝니다</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        -->
        <!--
        <a href="/front/views/finance/finance.html">
            <span><img src="/front/assets/image/footer_menu05.svg" alt="" title="" /> 금융지원</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        20260116 임시삭제-->
        <a href="/front/views/support/partnership_proposal_step01.html">
            <span><img src="/front/assets/image/footer_menu06.svg" alt="" title="" /> 제휴및제안</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>  
    </div>
    <div class="mmi-support">
        <a href="/front/views/support/notice_list.html">고객센터</a>
    </div>
    <div class="mmi-site">
        <select name="" id="selectSiteMobile" class="form-select select-box middle">
            <option value="">사이트</option>
            <option value="">사이트</option>
            <option value="">사이트</option>
        </select>
    </div>
    <div class="mmi-tools">
        <select name="" id="selectToolsMobile" class="form-select select-box middle">
            <option value="">사이트</option>
        </select>
    </div>    
    <div class="mmi-footer">
        <a href="javascript:void(0);" data-izimodal-open="#terms" class="js-open-term" data-term-index="0"><i class="fa-light fa-angle-right"></i> 이용약관</a>
        <a href="javascript:void(0);" data-izimodal-open="#terms" class="js-open-term" data-term-index="1"><i class="fa-light fa-angle-right"></i> 개인정보취급방침</a>
    </div>
</div>
<div class="mobile-menu-info-bg"></div>
<!--<div class="mobile-menu-info-bg">&nbsp;</div>-->
<!-- MOBILE - 메뉴 및 정보 끝 -->
