<!-- MOBILE - 상단영역 -->
<div class="mobile-header">
    <dl>
        <dt>
            <a href="/index.html"><img src="/front/assets/image/logo.svg" height="20" alt="" title="" /></a>
        </dt>
        <dd>
            <a href="javascript:void(0);" id="mobileSearchOpen"><i class="fa-light fa-magnifying-glass"></i></a>
            <a href="javascript:void(0);" id="mobileMenuInfo"><i class="fa-light fa-bars"></i></a>

            <!-- 검색영역 -->
            <div class="mh-search">
                <button id="mobileSearchClose"><i class="fa-regular fa-xmark"></i></button>
                <input type="text" id="search_input_mobile" name="" placeholder="검색하세요" autocomplete="off" />
                <button type="button" id="search_btn_mobile"><i class="fa-regular fa-magnifying-glass"></i></button>

                <div id="search_result_box_mobile" class="mhs-box">
                    <ul id="placesListMobile"></ul>
                    <!-- <div id="pagination" class="mcsb-pagination"></div> -->
                </div>
            </div>
            <!-- 검색영역 끝 -->
        </dd>
    </dl>
</div>
<!-- MOBILE - 상단영역 끝 -->

<!-- MOBILE - 하단영역 -->
<div class="mobile-footer">
    <ul>
        <li onclick="location.href='/front/views/realPrice/realPrice.html';">
            <p><img src="/front/assets/image/footer_menu01.svg" alt="" title="" /></p>
            <div>실거래가</div>
        </li>
        <li onclick="location.href='/front/views/sell/sell.html';">
            <p><img src="/front/assets/image/footer_menu02.svg" alt="" title="" /></p>
            <div>매물정보</div>
        </li>
        <li onclick="location.href='/front/views/find/find_list.html';">
            <p><img src="/front/assets/image/footer_menu03.svg" alt="" title="" /></p>
            <div>삽니다</div>
        </li>
        <li onclick="location.href='/front/views/put/put_list.html';">
            <p><img src="/front/assets/image/footer_menu04.svg" alt="" title="" /></p>
            <div>팝니다</div>
        </li>
        <li onclick="location.href='/front/views/finance/finance.html';">
            <p><img src="/front/assets/image/footer_menu05.svg" alt="" title="" /></p>
            <div>금융지원</div>
        </li>
        <li onclick="location.href='/front/views/support/partnership_proposal_step01.html';">
            <p><img src="/front/assets/image/footer_menu06.svg" alt="" title="" /></p>
            <div>제휴및제안</div>
        </li>
    </ul>
</div>
<!-- MOBILE - 하단영역 끝 -->

<!-- MOBILE - 메뉴 및 정보 -->
<div class="mobile-menu-info">
    <div class="mmi-info">
        <dl>
            <dt><span class="user-name-type">반갑습니다.</span></dt>
            <dd>
                <a href="javascript:void(0);"><i class="fa-light fa-xmark"></i></a>
            </dd>
        </dl>
    </div>
    <div class="mmi-tab-btn">
        <a href="/front/views/member/join_step01.html" class="active">회원가입</a>
        <a href="/front/views/00-include/login.html" class="modal-open-btn login-before">로그인</a>
    </div>
    <div class="mmi-menu">
        <a href="/front/views/realPrice/realPrice.html">
            <span><img src="/front/assets/image/footer_menu01.svg" alt="" title="" /> 실거래가</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <a href="/front/views/sell/sell.html">
            <span><img src="/front/assets/image/footer_menu02.svg" alt="" title="" /> 매물정보</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <a href="/front/views/find/find_list.html">
            <span><img src="/front/assets/image/footer_menu03.svg" alt="" title="" /> 삽니다</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <a href="/front/views/put/put_list.html">
            <span><img src="/front/assets/image/footer_menu04.svg" alt="" title="" /> 팝니다</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <a href="/front/views/finance/finance.html">
            <span><img src="/front/assets/image/footer_menu05.svg" alt="" title="" /> 금융지원</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>
        <a href="/front/views/support/partnership_proposal_step01.html">
            <span><img src="/front/assets/image/footer_menu06.svg" alt="" title="" /> 제휴및제안</span>
            <em><i class="fa-light fa-angle-right"></i></em>
        </a>  
    </div>
    <div class="mmi-support">
        <a href="/front/views/support/notice_list.html">고객센터</a>
    </div>
    <div class="mmi-site">
        <select name="" id="selectSiteMobile" class="form-select select-box middle">
            <option value="">사이트</option>
            <option value="">사이트</option>
            <option value="">사이트</option>
        </select>
    </div>
    <div class="mmi-tools">
        <select name="" id="selectToolsMobile" class="form-select select-box middle">
            <option value="">사이트</option>
        </select>
    </div>
    <!-- 계산기 menu를 위해 추가    -->
    <div id="toolModal" class="toolmodal" style="display: none;">
        <div class="tool-modal-overlay"></div>
        <div class="tool-modal-content"> <!-- <-- 이 요소가 draggable 대상입니다 -->
            <div class="tool-modal-header"> <!-- <-- 이 요소가 handle로 지정됩니다 (draggable 요소의 자손) -->
                <h2></h2> <!--  제목 등 -->
                <span class="tool-close-button">&times;</span> <!-- 닫기 버튼 -->
            </div>
            <div class="tool-modal-body">
                <!-- 여기에 동적으로 iframe이 삽입될 예정 -->
            </div>
            <!-- 필요하다면 푸터 등 다른 내용 추가 -->
        </div>
    </div>
    <div class="mmi-footer">
        <a href="javascript:void(0);"><i class="fa-light fa-angle-right"></i> 이용약관</a>
        <a href="javascript:void(0);"><i class="fa-light fa-angle-right"></i> 개인정보취급방침</a>
    </div>
</div>
<div class="mobile-menu-info-bg">&nbsp;</div>
<!-- MOBILE - 메뉴 및 정보 끝 -->
