<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{subject}</title>
    </head>
    <body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0">
        <table class="email-container" align="center" style="width: 100%; border-spacing: 0; max-width: 600px; margin: 40px auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)">
            <tr>
                <td align="center">
                    <img src="https://tody.co.kr/front/assets/image/logo.svg" alt="Logo" class="logo" style="max-width: 496px; height: auto" />
                </td>
            </tr>
            <tr>
                <td class="message" align="center" style="font-size: 20px; color: #333333; font-weight: 600; line-height: 1.6; padding: 20px 0">안녕하세요. TODY 입니다.<br /></td>
            </tr>
            <tr>
                <td class="code" align="center">{{내용이 들어가는 영역입니다}}</td>
            </tr>
            <tr>
                <td class="footer" align="center" style="font-size: 14px; color: #777777; padding: 30px 0">
                    감사합니다.<br />
                    TODY 드림
                </td>
            </tr>
        </table>
    </body>
</html>
