<!DOCTYPE html>
<html lang="kr" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
    <head>
        <meta charset="utf-8" />
        <title>Tody 관리자 페이지 | 삭제된 매물 관리</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="Tody" name="description" />
        <meta content="Tody" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico" />

        <!--datatable css-->
        <!-- <link rel="stylesheet" href="/assets/css/plugins/datatables/dataTables.bootstrap5.min.css" />
        <link rel="stylesheet" href="/assets/css/plugins/datatables/responsive.bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/plugins/datatables/buttons.dataTables.min.css" /> -->

        <link href="/assets/libs/datatables/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
        <link href="/assets/libs/datatables/css/buttons.bootstrap5.min.css" rel="stylesheet" />
        <link href="/assets/libs/datatables/css/colReorder.bootstrap5.min.css" rel="stylesheet" />
        <link href="/assets/libs/datatables/css/responsive.bootstrap5.min.css" rel="stylesheet" />

        <!-- Sweet Alert css-->
        <link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
        <!-- Layout config Js -->
        <script src="/assets/js/layout.js"></script>
        <!-- Bootstrap Css -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Css -->
        <link href="/assets/css/fonts.css" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- Waves Css-->
        <link href="/assets/libs/node-waves/waves.min.css" rel="stylesheet" type="text/css" />
        <!-- choices Css -->
        <link href="/assets/libs/choices.js/public/assets/styles/choices.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <!-- custom Css-->
        <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- common Css-->
        <link href="/assets/css/common.css" rel="stylesheet" type="text/css" />
        <!-- modal Css -->
        <link href="/assets/css/modal.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <!-- Begin page -->
        <div id="layout-wrapper">
            <!-- header -->
            <header id="page-topbar"></header>
            <!-- /.header -->

            <!-- removeNotificationModal -->
            <div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mt-2 text-center">
                                <lord-icon src="/assets/json/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width: 100px; height: 100px"></lord-icon>
                                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                    <h4>Are you sure ?</h4>
                                    <p class="text-muted mx-4 mb-0">Are you sure you want to remove this Notification ?</p>
                                </div>
                            </div>
                            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn w-sm btn-danger" id="delete-notification">Yes, Delete It!</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <!-- ========== App Menu ========== -->
            <div class="app-menu navbar-menu"></div>
            <!-- Left Sidebar End -->

            <!-- Vertical Overlay-->
            <div class="vertical-overlay"></div>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <!-- content -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">삭제된 매물 관리</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">매물</a></li>
                                            <li class="breadcrumb-item active">삭제된 매물 관리</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header align-items-center d-flex border-0 flex-wrap">
                                        <h4 class="card-title mb-0 flex-grow-1">삭제된 매물 리스트</h4>
                                    </div>
                                    <!-- end card header -->

                                    <div class="card-body">
                                        <table id="ajax-datatables" class="table nowrap align-middle" style="width: 100%">
                                            <thead>
                                                <tr></tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <!-- footer -->
                <footer class="footer"></footer>
                <!-- /.footer -->
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->

        <!--start back-to-top-->
        <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
            <i class="ri-arrow-up-line"></i>
        </button>
        <!--end back-to-top-->

        <!--preloader-->
        <div id="preloader">
            <div id="status">
                <div class="spinner-border text-danger avatar-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <div class="customizer-setting d-none d-md-block">
            <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
                <i class="mdi mdi-spin mdi-cog-outline fs-22"></i>
            </div>
        </div>

        <!-- Theme Settings -->
        <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="theme-settings-offcanvas"></div>

        <!-- JAVASCRIPT -->
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/libs/jquery/js/jquery-3.7.1.min.js"></script>
        <script src="/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/assets/libs/node-waves/waves.min.js"></script>
        <script src="/assets/libs/feather-icons/feather.min.js"></script>
        <script src="/assets/js/plugins/lord-icon-2.1.0.js"></script>
        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
        <script src="/assets/libs/prismjs/prism.js"></script>
        <!--datatable js-->
        <script src="/assets/libs/datatables/js/jszip.min.js"></script>
        <script src="/assets/libs/datatables/js/pdfmake.min.js"></script>
        <script src="/assets/libs/datatables/js/vfs_fonts.js"></script>
        <script src="/assets/libs/datatables/js/dataTables.min.js"></script>
        <script src="/assets/libs/datatables/js/dataTables.bootstrap5.min.js"></script>
        <script src="/assets/libs/datatables/js/dataTables.buttons.min.js"></script>
        <script src="/assets/libs/datatables/js/buttons.bootstrap5.min.js"></script>
        <script src="/assets/libs/datatables/js/buttons.colVis.min.js"></script>
        <script src="/assets/libs/datatables/js/buttons.html5.min.js"></script>
        <script src="/assets/libs/datatables/js/buttons.print.min.js"></script>
        <script src="/assets/libs/datatables/js/dataTables.colReorder.min.js"></script>
        <script src="/assets/libs/datatables/js/dataTables.responsive.min.js"></script>
        <script src="/assets/libs/datatables/js/responsive.bootstrap5.js"></script>
        <!-- jquery-validation.js -->
        <script src="/assets/libs/jquery-validation/js/jquery.validate.min.js"></script>
        <script src="/admin/js/00-include/validation.js"></script>
        <!-- daum 주소 api -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <!-- custom -->
        <script src="/admin/js/00-include/layout.js"></script>
        <script src="/admin/js/00-include/sha256.js"></script>
        <script src="/admin/js/00-include/functions.js"></script>
        <script src="/admin/js/00-include/common.js"></script>
        <script src="/admin/js/00-include/layer_popup.js"></script>
        <script src="/admin/js/04-estate/re_listings_deleted.js"></script>
        <!-- App js -->
        <script>
            window.addEventListener("load", function () {
                var script = document.createElement("script");
                script.src = "/assets/js/app.js?v=" + new Date().getTime();
                document.body.appendChild(script);
            });
        </script>
        <!-- <script src="/assets/js/app.js"></script> -->
    </body>
</html>
